<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>The Organizer - A Complete Project Management Solution - Administrator</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="css/organizer-style.css" rel="stylesheet" type="text/css" />
</head>

<!--frameset rows="100%,*" frameborder="YES" border="1" framespacing="0" scrolling="YES"-->
	
	<frameset cols="30%,70%" frameborder="YES" border="1" framespacing="0"  scrolling="YES">
	<frame src="Project.html" scrolling="AUTO">
	<frame src="user-home.html" scrolling="AUTO">
	</frameset><noframes></noframes>
	
<!--frame src="admin-home.html" scrolling="NO">
</frameset-->
</html>
