<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>The Organizer - A Complete Project Management Solution - Index</title>
<meta name="Description" content="Web-based project and task manager for your team. The powerful features are accessed through a smart customizable interface. Everything is within a click or two. Get more done by The Organizer!" />
<meta name="Keywords" content="project management, task management, web based, web based project management, hosted software, task tracking, The Organizer, free trial," />
<link href="css/siteStyle.css" rel="stylesheet" type="text/css" />

<style type="text/css">
<!--
.style2 {color: #00CC33}
-->
</style>
</head>

<body>
<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td height="125" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="40%" align="left" valign="top"><img src="images/site/logo.gif" width="233" height="51" class="logoPadding" alt="The Organizer" title="The Organizer" /></td>
        <td>&nbsp;</td>
        <td align="right" valign="top"><img src="images/site/axsysLogo.gif" width="113" height="56" hspace="33" vspace="17" alt="Axsys Technologies Ltd." title="Axsys Technologies Ltd." /></td>
      </tr>
      <tr>
        <td align="left" valign="top"><img src="images/site/caption.gif" width="336" height="22" hspace="33" alt="A Complete Project Management Solution" title="A Complete Project Management Solution" /></td>
        <td>&nbsp;</td>
        <td align="right" valign="top"><a href="http://www.axsyssoftware.com" target="_blank"><img src="images/site/axsysURL.gif" width="174" height="15" hspace="33" vspace="4" border="0" alt="www.axsyssoftware.com" title="www.axsyssoftware.com" /></a></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top" id="contentArea"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="44" align="center" valign="top"><table width="560" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" valign="top" class="menuBorderRight"><img src="images/site/topMenuLeft.gif" width="25" height="44" alt="" title="" /></td>
            <td width="510">
				<div id="topNav">
							<ul>                               
								<li id="current"><a><span>home</span></a></li>
								<li><a href="features.html"><span>features</span></a></li>
								<li><a href="about-us.html"><span>about us</span></a></li>
								<li id="demo"><a><span>demo</span></a></li>
								<li><a href="contact-us.html"><span style="border-right:none">contact us</span></a></li>
							</ul>
				  </div>				</td>
            <td align="right" valign="top" class="menuBorderLeft"><img src="images/site/topMenuRight.gif" width="25" height="44" alt="" title=""  /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="37" align="left" valign="top">&nbsp;</td>
      </tr>
      <tr>
        <td height="622" align="center" valign="top" class="mainImage"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td height="288" colspan="3">&nbsp;</td>
            </tr>
          <tr>
            <td height="50" colspan="3" align="center" valign="top"><img src="images/site/stressManagement.gif" width="420" height="37" alt="Stress Management" title="Stress Management" /></td>
            </tr>
          <tr>
            <td width="48%" align="right" valign="top">
			<span class="span20">Spa</span><span class="span12">Yoga</span><span class="span20">Meditation</span>
			<br />
			<span class="span20">Pranayama</span><span class="span20">Detox</span><span class="span12">Reiki</span>
			<br />
            <span class="span12">Bungee Jumping</span><span class="span20">Writing</span><span class="span12">Laughing</span>			 </td>
            <td align="center" valign="top"><img src="images/site/arrow.gif" width="52" height="121" alt="" title="" /></td>
            <td width="48%" align="left" valign="top">
			<span class="spanGreen12">50 Cent</span><span class="spanGreen20">B.E.P.</span><span class="spanGreen12">Neil Diamond</span><span class="spanGreen20">Snoop Dog</span>
			<br/>
			<span class="spanGreen12">Forrest Gump</span><span class="spanGreen20">The Godfather</span><span class="spanGreen12">Paulo Coelho</span> 
			<br/> 
			<span class="spanGreen12">Kenny Rogers</span><span class="spanGreen20">Transformers</span><span class="spanGreen12">Espresso</span><span class="spanGreen12">WWE</span>			</td>
          </tr>
          <tr>
            <td height="186" colspan="3" align="center" valign="top"><img src="images/site/tryOrganizer.jpg" width="314" height="156" vspace="14" alt="Try Organizer" title="Try Organizer" /></td>
            </tr>
          <tr>
            <td colspan="3" align="center" valign="top"><table width="96%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="25%" align="left" valign="top">
				<div style="padding:0 10px">
					<div><img src="images/site/iconManage.gif" alt="Manage" title="Manage" /></div>
					<br/>
					<div class="blue16">Manage</div><br/>
					<div class="divText">
					  <p align="justify">Manage companies, users, roles, skills, projects, tasks, files, messages and your profile.</p>
					  <div class="iconMore" style="margin-top:20px"><a href="#">More</a></div>
					</div>
					
				</div>
				</td>
                <td width="25%" align="left" valign="top">
				<div style="padding:0 10px">
					<div><img src="images/site/iconCreate.gif" alt="Create" title="Create" /></div>
					<br/>
					<div class="blue16">Create</div><br/>
					<div class="divText">
					  <p align="justify">Create new users, roles, projects, tasks, messages and a lot more.</p>
					  <div class="iconMore" style="margin-top:20px"><a href="#">More</a></div>
					</div>
					
				</div>
				
				</td>
                <td width="25%" align="left" valign="top">
				<div style="padding:0 10px">
					<div><img src="images/site/iconAssignTask.gif" alt="Assign Task" title="Assign Task" /></div>
					<br/>
					<div class="blue16">Assign Task</div><br/>
					<div class="divText">
					  <p align="justify">Allot projects and assign tasks to various users on the basis of their roles and skills.</p>
					  <div class="iconMore" style="margin-top:20px"><a href="#">More</a></div>
					</div>
					
				</div>
				</td>
                <td width="25%" align="left" valign="top">
				
				<div style="padding:0 10px">
					<div><img src="images/site/iconShare.gif" alt="Share &amp; Discuss" title="Share &amp; Discuss" /></div>
					<br/>
					<div class="blue16">Share &amp; Discuss</div><br/>
					<div class="divText" style="border:none;">
					  <p align="justify">Collaborate with other users and share files and folders. Share ideas through numerous discussions.</p>
					  <div class="iconMore"><a href="#">More</a></div>
					</div>										
				</div>
				
				</td>
              </tr>
            </table></td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="20" align="left" valign="top"></td>
  </tr>
  <tr>
    <td height="48" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="122" height="48" align="center" valign="middle" class="axsysBrings">Axsys brings </td>
        <td width="9">&nbsp;</td>
        <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="24" height="48" align="left" valign="top" class="footerTicker">&nbsp;</td>
            <td align="left" valign="middle" class="footerTickerBackgr">
			<!--If you have been looking for a parking solution, your search ends with<span class="tickerGreen">Parking Management System ...</span>-->
			<script type="text/javascript" src="script/textfader.js"></script>
			
			</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="55" align="right" valign="middle" class="copyright">&copy; 2007-08 Axsys Technologies Limited. All rights reserved.</td>
  </tr>
</table>
</body>
</html>
