<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>The Organizer - A Complete Project Management Solution - Notification - Inbox</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="css/organizer-style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<form name="form1" method="post" action="">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="1003" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="500" align="left" valign="middle"><img src="images/organizer-logo.gif" width="231" height="51" hspace="20" alt="The Organizer" title="The Organizer" /></td>
    <td align="right" valign="top" style="padding-right:30px"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="34" align="right" valign="top">
        
        <table border="0" cellspacing="0" cellpadding="0" style="margin-right:10px">
          <tr>
            <td width="5" height="34" align="left" valign="top"><img src="images/user-panel-left.gif" width="5" height="35" alt="" title="" /></td>
            <td class="user-panel-background"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="22" align="left" valign="middle" class="welcome-user">Welcome Sambit</td>
                <td width="34" align="center" valign="middle"><a href="#"><img src="images/user-icon.gif" border="0" width="14" height="16" alt="User Profile" title="User Profile" /></a></td>
                <td width="1"><img src="images/icon-divider.gif" width="1" height="22" alt="" title="" /></td>
                <td width="34" align="center" valign="middle"><a href="#"><img src="images/user-icon2.gif" border="0" width="14" height="14" alt="Settings" title="Settings" /></a></td>
                <td width="1"><img src="images/icon-divider.gif" width="1" height="22" alt="" title="" /></td>
                <td width="34" align="center" valign="middle"><a href="#"><img src="images/user-icon3.gif" border="0" width="12" height="14" alt="Logout" title="Logout" /></a></td>
              </tr>
            </table></td>
            <td width="6" align="left" valign="top"><img src="images/user-panel-right.gif" width="6" height="35" alt="" title="" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="53">&nbsp;</td>
      </tr>
      <tr>
        <td height="34" align="right" valign="bottom">
        <div id="tabs" align="right">
          <ul style="float:right; padding:0px;">
            <!-- CSS Tabs -->
            <li><a href="Project.html"><span title="Projects">Projects</span></a></li>
            <li id="current"><a href="#"><span title="Notification">Notification</span></a></li>
            <li><a href="#"><span title="Project Status">Project Status</span></a></li>
            <li><a href="#"><span title="Dashboard">Dashboard</span></a></li>
            
          </ul>
        </div></td>
      </tr>
    </table></td>
  </tr>
</table></td>
        </tr>
        <tr> 
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="386" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="6" height="6" align="left" valign="top"><img src="images/left-top-corner.gif" width="6" height="6" alt="" title="" /></td>
                        <td height="4" align="left" valign="top" class="main-top-border"><img src="images/blank.gif" alt="" width="" height="4" title="" /></td>
                      </tr>
                    </table></td>
                    
                    <td valign="top"><table width="100%" border="0" align="right" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="611" height="4" align="left" valign="top" class="main-top-border"><img src="images/blank.gif"  width="" height="4" alt="" title=""/></td>
                        <td width="6" height="6" align="right" valign="top"><img src="images/right-top-corner.gif" width="6" height="6" alt="" title=""/></td>
                      </tr>
                    </table></td>
                  </tr>
                  
                  
                  <tr>
                    <td height="546" colspan="2" align="left" valign="top" class="main-side-border border-right"><table width="100%" border="0" cellspacing="3" cellpadding="0">
                      <tr>
                        <td height="36" align="left" valign="top"><h2>Notification</h2></td>
                      </tr>
                      
                       <tr>
                          <td bgcolor="#E5E5E3" colspan="3"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
                       </tr>
                      
                      <tr>
                        <td height="55" align="left" valign="top">
                        
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="taskTab">
                          <tr>
                            <td align="left" valign="bottom">
                            
                                <div id="tabInside" align="right">
                                  <ul>
                                    <!-- CSS Tabs -->
                                    <li id="current"><a href="notification-add-task.html"><span title="Inbox"><img src="images/iconInbox.gif" border="0" class="iconImages" alt="Inbox" title="Inbox" />Inbox</span></a></li>
                                    <li><a href="#"><span title="Assign Task"><img src="images/iconAddTask.gif" alt="Assign Task" border="0" class="iconImages" title="Assign Task" />Assign Task</span></a></li>
                                    <li><a href="#"><span title="Sent Items"><img src="images/iconSentItems.gif" alt="Sent Items" border="0" class="iconImages" title="Sent Items" />Sent Items</span></a></li>
                                    <li><a href="#"><span title="Trash"><img src="images/iconTrash.gif" border="0" class="iconImages" alt="Trash" title="Trash" />Trash</span></a></li>
                                  </ul>
                               </div>
							   </td>
                            <td width="210" align="left" valign="top"><div  class="mailStatus">Total unread mail: &nbsp;<strong>Inbox(0)</strong></div></td>
                          </tr>
                        </table>                        </td>
                      </tr>
                      
                      <tr>
                        <td height="40" align="left" valign="middle"><table width="100%" border="0" cellspacing="3" cellpadding="0">
                          <tr>
                            <td width="10%" height="40" align="left" valign="middle" class="inbox">Inbox</td>
                            <td width="60%">&nbsp;</td>
                            <td width="7%" align="center" class="blacklink"><a href="#" title="Reply to this mail"><img src="images/iconReply.gif" border="0" class="iconImages" alt="Reply" title="Reply" />Reply</a></td>
                            <td width="1%" align="center" valign="middle"><img src="images/iconDividerVertcal.gif" border="0" alt="" title=""/></td>
                            <td width="9%" align="center" valign="middle" class="blacklink"><a href="#" title="Forward this mail"><img src="images/iconForward.gif" width="16" height="15" border="0" class="iconImages" alt="Forward" title="Forward" />Forward</a></td>
                            <td width="1%" align="center" valign="middle"><img src="images/iconDividerVertcal.gif" border="0" alt="" title=""/></td>
                            <td width="8%" align="right" valign="middle" class="blacklink"><a href="#" title="Delete this mail"><img src="images/iconDelete.gif" border="0" class="iconImages" alt="Delete" title="Delete" />Delete</a></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td align="left" valign="top"><table width="100%" border="1" cellpadding="0" cellspacing="0" class="tableBorder">
                          <tr>
                            <td width="30%" align="left" valign="middle" class="tableHeader">
                              <input type="checkbox" name="checkbox" value="checkbox" title="Click to check" class="no-border" /> From</td>
                            <td width="40%" class="tableHeader">Subject</td>
                            <td width="30%" class="tableHeader">Received <img src="images/arrowDownward.gif" hspace="8" border="0" alt="" title="" /></td>
                          </tr>
                          <tr class="tr">
                            <td align="left" valign="middle" class="tableInside">
                              <input type="checkbox" name="checkbox2" value="checkbox" title="Click to check" class="no-border" />
                            Ghanshyam Prasad </td>
                            <td align="left" valign="middle" class="tableInside">Project change notification </td>
                            <td align="left" valign="middle" class="tableInside">04-06-2008 - 05:01 am</td>
                          </tr>
                          <tr class="tr highlightedHeader">
                            <td align="left" valign="middle" class="tableInside">
                              <input type="checkbox" name="checkbox3" value="checkbox" title="Click to check" class="no-border" />
                            Sambit Ray </td>
                            <td align="left" valign="middle" class="tableInside">Welcome to The Organizer</td>
                            <td align="left" valign="middle" class="tableInside">23-05-2008 - 09:55 am</td>
                          </tr>
                          <tr class="tr">
                            <td align="left" valign="middle" class="tableInside">
                              <input type="checkbox" name="checkbox4" value="checkbox" title="Click to check" class="no-border"/>
                            Ghanshyam Prasad </td>
                            <td align="left" valign="middle" class="tableInside">Change notification for new project</td>
                            <td align="left" valign="middle" class="tableInside">23-05-2008 - 05:41 am</td>
                          </tr>
                          <tr class="tr">
                            <td colspan="3" align="right" valign="middle" class="tableFooter"><table width="280" border="0" cellspacing="1" cellpadding="0">
                              <tr>
                                <td width="40" align="left" valign="middle">View                              </td>
                                <td width="60" align="left" valign="middle"><select name="select" class="inputBorder" title="View">
                                  <option>10</option>
                                </select></td>
                                <td width="27" align="left" valign="middle"><a href="#"><img src="images/btn5.gif" alt="" hspace="4" vspace="0" border="0" title="" /></a></td>
                                <td width="27" align="center" valign="middle"><a href="#"><img src="images/btn6.gif" alt="" hspace="0" vspace="0" border="0" title="" /></a></td>
                                <td align="center" valign="middle">Page 10 </td>
                                <td width="27" align="center" valign="middle"><a href="#"><img src="images/btn7.gif" hspace="4" border="0" alt="" title="" /></a></td>
                                <td width="27" align="center" valign="middle"><a href="#"><img src="images/btn8.gif" hspace="0" border="0" alt="" title="" /></a></td>
                              </tr>
                            </table></td>
                            </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td height="15" align="left" valign="middle">&nbsp;</td>
                        </tr>
                      <tr>
                        <td height="2" align="left" valign="middle" bgcolor="#FBDE96">
                          <img src="images/blank.gif" height="2" width="" border="0" alt="" title=""/></td>
                        </tr>
                      <tr>
                        <td height="15" align="left" valign="middle">&nbsp;</td>
                        </tr>
                      <tr>
                        <td height="33" align="left" valign="top"><table width="100%" border="1" align="left" cellpadding="0" cellspacing="0" class="tableBorder">
                          <tr>
                            <td height="88" align="left" valign="top" class="highlightedHeader"><table width="100%" border="0" cellspacing="5" cellpadding="0">
                              <tr>
                                <td width="10%" align="left" valign="top" class="body-text-blue">From: </td>
                                <td align="left" valign="top" class="body-text-blue">Administrator</td>
                              </tr>
                              <tr>
                                <td align="left" valign="top" class="body-text-blue">Subject:</td>
                                <td class="body-text-blue">Welcome to The Organizer</td>
                              </tr>
                              <tr>
                                <td align="left" valign="top" class="body-text-blue">Sent:</td>
                                <td align="left" valign="top" class="body-text-blue">23-05-2008 - 09:55 am</td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td height="190" align="left" valign="top" class="tableInside">
                            <p align="justify">
                            Dear Sambit Ray,<br />
                              <br />
                              Welcome to &quot;The Organizer&quot;. You have successfully completed the registration process and are now a registered member of the system. <br />
                              You can login to the system using the following credentials:<br /> 
                              <br />
                              Username: sambit<br />
                              Password: sambit<br />
                              <br />
                              Regards,<br />
                              Administrator                           </p>
                              
                              </td>
                          </tr>
                        </table></td>
                        </tr>
                    </table></td>
                    </tr>
                  
                  
                  <tr>
                    <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="6"><img src="images/left-bottom-corner.gif" width="6" height="6" alt="" title="" /></td>
                        <td height="4" align="left" valign="bottom" class="main-bottom-border"><img src="images/blank.gif" alt="" width="" height="4" title="" /></td>
                      </tr>
                    </table></td>
                   
                    <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="611" class="main-bottom-border"><img src="images/blank.gif" alt="" width="" height="4" title="" /></td>
                        <td width="6" align="right" valign="top"><img src="images/right-bottom-corner.gif" width="6" height="6" alt="" title="" /></td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
              
            </table></td>
        </tr>
        <tr> 
          <td height="40" align="right" valign="middle" class="copyright">&copy; 2007-08 Axsys Technologies Limited. All rights reserved.</td>
        </tr>
        
        
      </table></td>
  </tr>
</table>
</form>

</body>
</html>