<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>The Organizer - A Complete Project Management Solution - Project Status - Project Manager</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="css/organizer-style.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="script/date.js"></script>
</head>

<body>
<form name="form1" method="post" action="">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="1003" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="500" align="left" valign="middle"><img src="images/organizer-logo.gif" width="231" height="51" hspace="20" alt="The Organizer" title="The Organizer" /></td>
    <td align="right" valign="top" style="padding-right:30px"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="34" align="right" valign="top">
		
		<table border="0" cellspacing="0" cellpadding="0" style="margin-right:10px">
          <tr>
            <td width="5" height="34" align="left" valign="top"><img src="images/user-panel-left.gif" width="5" height="35" alt="" title="" /></td>
            <td class="user-panel-background"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="22" align="left" valign="middle" class="welcome-user">Welcome Sambit</td>
                <td width="34" align="center" valign="middle"><a href="#"><img src="images/user-icon.gif" border="0" width="14" height="16" alt="User Profile" title="User Profile" /></a></td>
                <td width="1"><img src="images/icon-divider.gif" width="1" height="22" alt="" title="" /></td>
                <td width="34" align="center" valign="middle"><a href="#"><img src="images/user-icon2.gif" border="0" width="14" height="14" alt="Settings" title="Settings" /></a></td>
                <td width="1"><img src="images/icon-divider.gif" width="1" height="22" alt="" title="" /></td>
                <td width="34" align="center" valign="middle"><a href="#"><img src="images/user-icon3.gif" border="0" width="12" height="14" alt="Logout" title="Logout" /></a></td>
              </tr>
            </table></td>
            <td width="6" align="left" valign="top"><img src="images/user-panel-right.gif" width="6" height="35" alt="" title="" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="53">&nbsp;</td>
      </tr>
      <tr>
        <td height="34" align="right" valign="bottom">
		<div id="tabs" align="right">
          <ul style="float:right; padding:0px;">
            <!-- CSS Tabs -->
            <li><a href="Project.html"><span title="Projects">Projects</span></a></li>
            <li><a href="notification-inbox.html"><span title="Notification">Notification</span></a></li>
            <li id="current"><a href="#"><span title="Project Status">Project Status</span></a></li>
            <li><a href="dashboard.html"><span title="Dashboard">Dashboard</span></a></li>
			
          </ul>
        </div></td>
      </tr>
    </table></td>
  </tr>
</table></td>
        </tr>
        <tr> 
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="386" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="6" height="6" align="left" valign="top"><img src="images/left-top-corner.gif" width="6" height="6" alt="" title="" /></td>
                        <td height="4" align="left" valign="top" class="main-top-border"><img src="images/blank.gif" alt="" width="" height="4" title="" /></td>
                      </tr>
                    </table></td>
                    
                    <td valign="top"><table width="100%" border="0" align="right" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="611" height="4" align="left" valign="top" class="main-top-border"><img src="images/blank.gif"  width="" height="4" alt="" title=""/></td>
                        <td width="6" height="6" align="right" valign="top"><img src="images/right-top-corner.gif" width="6" height="6" alt="" title=""/></td>
                      </tr>
                    </table></td>
                  </tr>
				  
				  
                  <tr>
                    <td height="546" colspan="2" align="left" valign="top" class="main-side-border border-right"><table width="100%" border="0" cellspacing="3" cellpadding="0">
                      <tr>
                        <td height="36" align="left" valign="top"><h2>Project Status</h2></td>
                      </tr>
					  
					   <tr>
						  <td bgcolor="#E5E5E3" colspan="3"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
					   </tr>
					  
                      <tr>
                        <td height="15" align="left" valign="top">&nbsp;</td>
                      </tr>
					  
					  <tr>
                        <td height="40" align="left" valign="top"><table width="100%" border="0" cellspacing="3" cellpadding="0">
                          <tr>
                            <td width="60%">
							
							<table width="100%" border="0" cellspacing="3" cellpadding="0">
                              <tr>
                                <td height="17" colspan="4" class="addWorkStatus">Add Work Status </td>
                                </tr>
                              <tr>
                                <td width="20%">&nbsp;</td>
                                <td width="35%">&nbsp;</td>
                                <td width="10%">&nbsp;</td>
                                <td width="35%">&nbsp;</td>
                              </tr>
                              <tr>
                                <td height="33" align="left" valign="top" class="body-text">Date:</td>
                                <td align="left" valign="top">
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
										  <tr>
											<td width="65%" align="left" valign="top"><input type="text" name="textfield" title="Date" id='date1'/>
										  
										  <!--<div><input type='text' id='date1' /><input type='button' id='for_date1' value='date' onclick='showCalender(this)' /></div>     -->                                                   </td>
											<td align="left" valign="top"><a onclick='showCalender(this)' id='for_date1'><img src="images/iconCalendar.gif" width="19" height="19" border="0" alt="Select date" title="Select date"/></a></td>
										  </tr>
										</table>                                  
								</td>
								
                                <td align="left" valign="top">&nbsp;</td>
                                <td align="left" valign="top">&nbsp;</td>
                              </tr>
                              <tr>
                                <td height="33" align="left" valign="top" class="body-text">Select Project: </td>
                                <td align="left" valign="top"><select name="select2" style="width:180px" class="inputBorder" title="Select Project">
                                  <option>--Select Project--</option>
                                  <option>Project 01</option>
                                  <option>Project 02</option>
                                </select></td>
                                <td>&nbsp;</td>
                                <td align="left" valign="top">&nbsp;</td>
                              </tr>
                              <tr>
                                <td height="33" align="left" valign="top" class="body-text">Select Task: </td>
                                <td align="left" valign="top"><select name="select" style="width:180px" class="inputBorder" title="Select Task">
                                  <option>--Select Task--</option>
                                  <option>Task 01</option>
                                  <option>Task 02</option>
                                                                </select></td>
                                <td>&nbsp;</td>
                                <td align="left" valign="top">&nbsp;</td>
                              </tr>
                              <tr>
                                <td height="33" align="left" valign="top" class="body-text">Day:</td>
                                <td align="left" valign="top"><select name="select3" style="width:100px" class="inputBorder" title="Select Day">
                                  <option>--Select Day--</option>
                                  <option>Sunday</option>
                                  <option>Monday</option>
                                                                </select></td>
                                <td align="left" valign="top" class="body-text">Hour:</td>
                                <td align="left" valign="top"><input type="text" name="textfield4" title="Hour"/></td>
                              </tr>
                              <tr>
                                <td height="33" align="left" valign="top" class="body-text">Post Status: </td>
                                <td align="left" valign="top">
                                  <textarea name="textarea" cols="29" rows="4" class="inputBorder" title="Post Status" style="padding:3px;"></textarea>                                </td>
                                <td>&nbsp;</td>
                                <td align="left" valign="top">&nbsp;</td>
                              </tr>
                              <tr>
                                <td height="60" colspan="4" align="left" valign="middle" class="body-text">
                                  <input name="Submit" type="submit" class="inputBtn2" value="Update Status" title="Update Status" />
                                  <input name="Submit2" type="reset" class="inputBtn2" value="Reset" title="Reset" /></td>
                                </tr>
                            </table>
							
							</td>
                            <td width="40%" align="left" valign="top"><table width="100%" border="0" align="left" cellpadding="0" cellspacing="0">
                              <tr>
                                <td height="290" align="left" valign="top" class="weeklySummaryTable"><table width="100%" border="0" align="left" cellpadding="0" cellspacing="3">
                                  <tr>
                                    <td colspan="2" align="left" valign="top" class="myWeeklySummary">My Weekly Summary </td>
                                    </tr>
                                  <tr>
                                    <td height="15" colspan="2"></td>
                                    </tr>
                                  <tr>
                                    <td width="20%" align="left" valign="top" class="body-text">From:</td>
                                    <td align="left" valign="top"><a href="#"></a> <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                      <tr>
                                        <td width="45%" align="left" valign="top"><input type="text" name="textfield2" title="From" id='date2'/></td>
                                        <td align="left" valign="top"><a onclick='showCalender(this)' id='for_date2'><img src="images/iconCalendar.gif" width="19" height="19" border="0" alt="Select date" title="Select date"/></a></td>
                                      </tr>
                                    </table></td>
                                  </tr>
                                  <tr>
                                    <td>&nbsp;</td>
                                    <td height="157" align="left" valign="top">&nbsp;</td>
                                  </tr>
                                  <tr>
                                    <td height="40" colspan="2" align="left" valign="middle" class="body-text-blue">Total Hours: <strong>53</strong> </td>
                                    </tr>
                                </table></td>
                              </tr>
                              <tr>
                                <td>&nbsp;</td>
                              </tr>
                            </table></td>
                          </tr>
                        </table></td>
					  </tr>
					  <tr>
					    <td height="2" align="left" valign="middle" bgcolor="#FBDE96">
						  <img src="images/blank.gif" height="2" width="" border="0" alt="" title=""/></td>
					    </tr>
					  <tr>
					    <td height="15" align="left" valign="middle">&nbsp;</td>
					    </tr>
					  <tr>
					    <td height="15" align="left" valign="middle" class="viewProjectStatus">View Project Status </td>
					    </tr>
					  <tr>
					    <td height="10" align="left" valign="top">&nbsp;</td>
					  </tr>
					  <tr>
					    <td height="33" align="left" valign="top"><table width="100%" border="1" cellpadding="0" cellspacing="0" class="tableBorder">
                          <tr>
                            <td width="15%" align="left" valign="middle" class="tableHeader"> Day Date                             </td>
                            <td width="25%" class="tableHeader">Team Leader  </td>
                            <td width="25%" class="tableHeader">Summary </td>
                            <td width="35%" class="tableHeader">Daily Hours Worked </td>
                          </tr>
                          <tr class="tr">
                            <td align="left" valign="middle" class="tableInside">                              Mon 04-06-2008 </td>
                            <td align="left" valign="middle" class="tableInside">Arun</td>
                            <td align="left" valign="middle" class="tableInside">Interface design done</td>
                            <td align="left" valign="middle" class="tableInside">34 hrs</td>
                          </tr>
                          <tr class="tr">
                            <td align="left" valign="middle" class="tableInside">                              Mon 04-06-2008 </td>
                            <td align="left" valign="middle" class="tableInside"> Jennifer</td>
                            <td align="left" valign="middle" class="tableInside">All changes are incorporated in final interface</td>
                            <td align="left" valign="middle" class="tableInside">20 hrs</td>
                          </tr>
                          <tr class="tr">
                            <td align="left" valign="middle" class="tableInside">                              Mon 04-06-2008</td>
                            <td align="left" valign="middle" class="tableInside">Ambarish </td>
                            <td align="left" valign="middle" class="tableInside">Logo design done</td>
                            <td align="left" valign="middle" class="tableInside">14 hrs</td>
                          </tr>
                          <tr class="tr">
                            <td colspan="4" align="right" valign="middle" class="tableFooter"><table width="280" border="0" cellspacing="1" cellpadding="0">
                                <tr>
                                  <td width="40" align="left" valign="middle">View </td>
                                  <td width="60" align="left" valign="middle"><select name="select5" class="inputBorder" title="View">
                                      <option>10</option>
                                  </select></td>
                                  <td width="27" align="left" valign="middle"><a href="#"><img src="images/btn5.gif" alt="" hspace="4" vspace="0" border="0" title="" /></a></td>
                                  <td width="27" align="center" valign="middle"><a href="#"><img src="images/btn6.gif" alt="" hspace="0" vspace="0" border="0" title="" /></a></td>
                                  <td align="center" valign="middle">Page 10 </td>
                                  <td width="27" align="center" valign="middle"><a href="#"><img src="images/btn7.gif" hspace="4" border="0" alt="" title="" /></a></td>
                                  <td width="27" align="center" valign="middle"><a href="#"><img src="images/btn8.gif" hspace="0" border="0" alt="" title="" /></a></td>
                                </tr>
                            </table></td>
                          </tr>
                        </table></td>
					    </tr>
						
						<tr>
					    <td height="10" align="left" valign="top"></td>
					  </tr>
					  
						<tr>
					    <td height="2" align="left" valign="middle" bgcolor="#FBDE96">
						  <img src="images/blank.gif" height="2" width="" border="0" alt="" title=""/></td>
					    </tr>
						
						<tr>
						  <td height="10" align="left" valign="top"></td>
						  </tr>
						<tr>
						  <td height="10" align="left" valign="top" class="greyBox"><table width="100%" border="0" cellspacing="3" cellpadding="0">
                            <tr>
                              <td colspan="2" align="left" valign="top" class="dailyProjectStatus">Daily Project Status </td>
                              </tr>
                            <tr>
                              <td width="15%" align="left" valign="top">&nbsp;</td>
                              <td align="left" valign="top">&nbsp;</td>
                            </tr>
                            <tr>
                              <td height="30" align="left" valign="top" class="body-text">Date:</td>
                              <td align="left" valign="top"><table width="30%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td width="52%" align="left" valign="top"><input type="text" name="textfield3" title="Date" id="date3"/>
                                      </td>
                                  <td align="left" valign="top"><a onclick='showCalender(this)' id='for_date3'><img src="images/iconCalendar.gif" width="19" height="19" border="0" alt="Select date" title="Select date"/></a></td>
                                </tr>
                              </table></td>
                            </tr>
                            <tr>
                              <td height="30" align="left" valign="top" class="body-text">Select Project: </td>
                              <td align="left" valign="top">
							  
							  <div>
							  <select name="select6" style="width:180px" class="inputBorder" title="Select Project">
                                <option>--Select Project--</option>
                                <option>Ideal Web Development</option>
                                <option>Project 02</option>
                              </select>
							  </div>
							  
							  <!--<div class="calloutBoxOuter">
								  
									  <div class="calloutBoxMargin">
									  
										 <div style="width:auto; display:block;
			position:relative;">
									  
									  Welcome to "The Organizer". hjjhjhjjkjkjjklklklklklklkl;kl;k;l;k;l;k;l;ll;l; ghjhj <br />
									  Welcome to "The Organizer". hjjhjhjjkjkjjklklklklklklkl;kl;k;l;k;l;k;l;ll;l; ghjhj dsddsdsfdffdfdfd dfdgfg
		 </div>
									  </div>
							  </div>-->
							  </td>
                            </tr>
                            <tr>
                              <td height="30" align="left" valign="top" class="body-text">Actual Hour: </td>
                              <td align="left" valign="top"><input name="textfield32" type="text" title="Actual Hour" value="48"/></td>
                            </tr>
                            <tr>
                              <td height="30" align="left" valign="top" class="body-text">Summary:</td>
                              <td align="left" valign="top"><textarea name="textarea2" cols="29" rows="4" class="inputBorder" title="Summary" style="padding:3px;"></textarea></td>
                            </tr>
                            <tr>
                              <td height="30" align="left" valign="top" class="body-text"><input name="Submit3" type="submit" class="inputBtn2" value="Done" title="Done" />
                                <input name="Submit22" type="reset" class="inputBtn2" value="Reset" title="Reset" /></td>
                              <td align="left" valign="top">&nbsp;</td>
                            </tr>
                          </table></td>
						  </tr>
						<tr>
						  <td height="10" align="left" valign="top"> </td>
						  </tr>
						
                    </table></td>
                    </tr>
				  
				  
                  <tr>
                    <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="6"><img src="images/left-bottom-corner.gif" width="6" height="6" alt="" title="" /></td>
                        <td height="4" align="left" valign="bottom" class="main-bottom-border"><img src="images/blank.gif" alt="" width="" height="4" title="" /></td>
                      </tr>
                    </table></td>
                   
                    <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="611" class="main-bottom-border"><img src="images/blank.gif" alt="" width="" height="4" title="" /></td>
                        <td width="6" align="right" valign="top"><img src="images/right-bottom-corner.gif" width="6" height="6" alt="" title="" /></td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
              
            </table></td>
        </tr>
        <tr> 
          <td height="40" align="right" valign="middle" class="copyright">&copy; 2007-08 Axsys Technologies Limited. All rights reserved.</td>
        </tr>
		
		
      </table></td>
  </tr>
</table>
</form>

</body>
</html>
