
Submit FAQs Awards Usage Terms Contact

    * Home
    * New
    * Revised
    * Tools
    * Forums
    * CSS Library

Home Scrollers Dynamic Fader Developer's View

<html>
<head>

<style TYPE="text/css">
    <!--
    .TextScrollStyle {
        visibility:hidden;
        font-family:Verdana;
        font-weight:bold;
        text-align:center;
        padding:0;
        margin:0;
        width:100%;
        overflow:hidden;
    }

    -->
</style>



</head>

<body>

<DIV id="containerarea">
<SCRIPT LANGUAGE="JavaScript1.2" SRC="script/textfader.js"></SCRIPT>
</DIV>
</body>
</html>

