<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>The Organizer - A Complete Project Management Solution - Manage Member</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="css/organizer-style.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="script/collapse.js"></script>
</head>

<body>
<form action="" method="post" enctype="multipart/form-data" name="form1">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="1003" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="400" align="left" valign="middle"><img src="images/organizer-logo.gif" width="231" height="51" hspace="20" alt="The Organizer" title="The Organizer" /></td>
    <td align="right" valign="top" style="padding-right:30px"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="34" align="right" valign="top">
		
		<table border="0" cellspacing="0" cellpadding="0" style="margin-right:10px">
          <tr>
            <td width="5" height="34" align="left" valign="top"><img src="images/user-panel-left.gif" width="5" height="35" alt="" title="" /></td>
            <td class="user-panel-background"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="22" align="left" valign="middle" class="welcome-user">Welcome Sambit</td>
                <td width="34" align="center" valign="middle"><a href="#"><img src="images/user-icon.gif" border="0" width="14" height="16" alt="User Profile" title="User Profile" /></a></td>
                <td width="1"><img src="images/icon-divider.gif" width="1" height="22" alt="" title="" /></td>
                <td width="34" align="center" valign="middle"><a href="#"><img src="images/user-icon2.gif" border="0" width="14" height="14" alt="Settings" title="Settings" /></a></td>
                <td width="1"><img src="images/icon-divider.gif" width="1" height="22" alt="" title="" /></td>
                <td width="34" align="center" valign="middle"><a href="#"><img src="images/user-icon3.gif" border="0" width="12" height="14" alt="Logout" title="Logout" /></a></td>
              </tr>
            </table></td>
            <td width="6" align="left" valign="top"><img src="images/user-panel-right.gif" width="6" height="35" alt="" title="" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="53">&nbsp;</td>
      </tr>
      <tr>
        <td height="34" align="right" valign="bottom">
		<div id="tabs" align="right">
          <ul style="float:right; padding:0px">
            <!-- CSS Tabs -->
            <li><a href="Admin-home.html"><span title="Home">Home</span></a></li>
            <li><a href="Admin-roles-skills.html"><span title="Roles &amp; Skills">Roles &amp; Skills</span></a></li>
            <li><a href="Admin-companies.html"><span title="Companies">Companies</span></a></li>
            <li  id="current"><a><span title="Manage Member">Manage Member</span></a></li>
			<li><a href="Admin-settings.html"><span title="Settings">Settings</span></a></li>
			
          </ul>
        </div></td>
      </tr>
    </table></td>
  </tr>
</table></td>
        </tr>
        <tr> 
          <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="7"><img src="images/main-top-left.gif" alt="" title="" /></td>
                    <td class="main-top-border"><img src="images/blank.gif" alt="" width="1" height="5" title="" /></td>
                    <td width="7"><img src="images/main-top-right.gif" alt="" title="" /></td>
                  </tr>
              </table></td>
            </tr>
            <tr>
              <td align="left" valign="top" class="main-side-border border-right">
			  
			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top"><h2>Manage Member</h2></td>
  </tr>
  <tr>
    <td height="10" align="left" valign="top"></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="tableBorder">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="35%" align="left" valign="top" class="border-right">
		
		<table width="96%" border="0" align="center" cellpadding="0" cellspacing="3" style="margin-top:10px;" >
          <tr>
            <td colspan="2" align="left" valign="top" class="pageHeader">Members</td>
          </tr>
          <tr>
            <td height="10" colspan="2" align="left" valign="top"></td>
          </tr>
          <tr>
            <td colspan="2" align="left" valign="top"><input name="Submit2" type="submit" class="inputBtn2" value="Add New Member" alt="Add New Member" title="Add New Member"/>
              <input name="Submit23" type="submit" class="inputBtn2" value="Delete" alt="Delete" title="Delete"/></td>
          </tr>
          <tr>
            <td height="10" colspan="2" align="left" valign="top"></td>
          </tr>
		  <tr>
            <td width="35%" align="left" valign="top" class="body-text">Select Company:</td>
            <td width="65%" align="left" valign="top" class="body-text">
			<select name="select" style="width:100%" class="inputBorder" title="Select Company">
              <option>--Select Company--</option>
              <option>Company 01</option>
              <option>Company 02</option>
            </select></td>
		  </tr>
		  <tr>
            <td height="10" colspan="2" align="left" valign="top"></td>
          </tr>
          <tr>
            <td height="30" colspan="2" align="left" valign="top">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			
              <tr>
                <td width="8%" align="center" valign="middle"><input type="checkbox" name="checkbox4" value="checkbox" class="no-border" /></td>
                <td width="92%" height="30" align="left" valign="middle" class="redLink"><a href="Admin-manage-member02.html">All Members </a></td>
              </tr>
			  
              <tr>
                <td height="1" colspan="2" align="left" valign="middle" bgcolor="#E5E5E3"><img src="images/blank.gif" width="" height="1" alt="" title="" /></td>
                </tr>
              <tr>
                <td align="center" valign="middle"><input type="checkbox" name="checkbox5" value="checkbox" class="no-border" /></td>
                <td height="30" align="left" valign="middle" class="redLink"><a href="#">Administrators</a></td>                
              </tr>
			  
			  <tr>
                <td height="1" colspan="2" align="left" valign="middle" bgcolor="#E5E5E3"><img src="images/blank.gif" width="" height="1" alt="" title="" /></td>
                </tr>
              <tr>
                <td align="center" valign="middle"><input type="checkbox" name="checkbox6" value="checkbox" class="no-border" /></td>
                <td height="30" align="left" valign="middle" class="redLink"><a href="#">Project Manager</a></td>
              </tr>
			  
			  <tr>
                <td height="1" colspan="2" align="left" valign="middle" bgcolor="#E5E5E3"><img src="images/blank.gif" width="" height="1" alt="" title="" /></td>
                </tr>
              <tr>
                <td align="center" valign="middle"><input type="checkbox" name="checkbox7" value="checkbox" class="no-border" /></td>
                <td height="30" align="left" valign="middle" class="redLink"><a href="#">Team Leader</a></td>
               
              </tr>
			  
			  <tr>
                <td height="1" colspan="2" align="left" valign="middle" bgcolor="#E5E5E3"><img src="images/blank.gif" width="" height="1" alt="" title="" /></td>
              </tr>
              <tr>
                <td align="center" valign="middle"><input type="checkbox" name="checkbox8" value="checkbox" class="no-border" /></td>
                <td height="30" align="left" valign="middle" class="redLink"><a href="#">Developer</a></td>
                              </tr>
			  
			  <tr>
                <td height="1" colspan="2" align="left" valign="middle" bgcolor="#E5E5E3"><img src="images/blank.gif" width="" height="1" alt="" title="" /></td>
              </tr>
			  
			  <tr>
                <td align="center" valign="middle"><input type="checkbox" name="checkbox9" value="checkbox" class="no-border" /></td>
                <td height="30" align="left" valign="middle" class="redLink"><a href="#">Designer</a></td>               
              </tr>
			  
			  <tr>
                <td height="1" colspan="2" align="left" valign="middle" bgcolor="#E5E5E3"><img src="images/blank.gif" width="" height="1" alt="" title="" /></td>
              </tr>
			  
			  
			  <tr>
                <td align="center" valign="middle"><input type="checkbox" name="checkbox10" value="checkbox" class="no-border" /></td>
                <td height="30" align="left" valign="middle" class="redLink"><a href="#">Tester</a></td>
                
              </tr>
			  
			  <tr>
                <td height="1" colspan="2" align="left" valign="middle" bgcolor="#E5E5E3"><img src="images/blank.gif" width="" height="1" alt="" title="" /></td>
              </tr>
			  
			  
            </table></td>
          </tr>
          <tr>
            <td height="30" colspan="2" align="left" valign="top">&nbsp;</td>
          </tr>
        </table></td>
		
        <td width="65%" align="left" valign="top"><table width="96%" border="0" align="center" cellpadding="0" cellspacing="3" style="margin-top:10px;">
          <tr>
            <td colspan="2" align="left" valign="top" class="pageHeader">Add New Member </td>
            </tr>
          <tr>
            <td height="10" colspan="2" align="left" valign="top"></td>
          </tr>
		  
		  <tr>
            <td height="1" colspan="2" align="left" valign="top" bgcolor="#E5E5E3"><img src="images/blank.gif" width="" height="1" alt="" title=""/></td>
          </tr>
		  
		  <tr>
            <td height="10" colspan="2" align="left" valign="top"></td>
          </tr>
		  <tr>
            <td height="36" colspan="2" align="left" valign="top" class="pageHeader2">Personal Details</td>
          </tr>
		  
          <tr>
            <td width="20%" height="30" align="left" valign="middle" class="body-text">First Name: </td>
            <td width="80%" align="left" valign="middle"><input type="text" name="textfield3" style="width:230px" alt="First name" title="First name"/></td>
          </tr>
          
          <tr>
            <td height="30" align="left" valign="middle" class="body-text">Last Name: </td>
            <td align="left" valign="middle"><input type="text" name="textfield32" style="width:230px" alt="Last name" title="Last name"/></td>
          </tr>
          
          <tr>
            <td height="30" align="left" valign="middle" class="body-text">E-mail ID :</td>
            <td align="left" valign="middle"><input type="text" name="textfield322" style="width:230px" alt="E-mail ID" title="E-mail ID"/></td>
          </tr>
		  
		  <tr>
            <td height="30" align="left" valign="middle" class="body-text">Add To  :</td>
            <td align="left" valign="middle"><select name="select2" style="width:234px" class="inputBorder" title="Add to">
              <option>--Select Project--</option>
              <option>Project 01</option>
              <option>Project 02</option>
            </select></td>
          </tr>
		  
		  <tr>
            <td height="30" align="left" valign="middle" class="body-text">Role :</td>
            <td align="left" valign="middle"><input type="text" name="textfield3222" style="width:230px" alt="Role" title="Role"/></td>
          </tr>
		  
		  <tr>
            <td height="30" align="left" valign="middle" class="body-text">Technology :</td>
            <td align="left" valign="middle" ><input type="text" name="textfield3222" style="width:230px" alt="Technology" title="Technology"/></td>
          </tr>
		  
		  <tr>
            <td height="30" align="left" valign="middle" class="body-text">Upload Image  :</td>
            <td align="left" valign="middle"><input type="file" name="file" style="width:230px;" alt="Upload Image" title="Upload Image" /></td>
          </tr>
		  
		  <tr>
            <td height="30" align="left" valign="top" class="body-text" style="padding-top:10px">Access To  :</td>
            <td align="left" valign="top" style="padding-top:10px"><table width="100%" border="0" cellspacing="3" cellpadding="0">
              <tr>
                <td width="5%" align="left" valign="middle"><input type="checkbox" name="checkbox" value="checkbox" class="no-border" alt="Click to check" title="Click to check" /></td>
                <td colspan="6" align="left" class="body-text">Projects</td>
              </tr>
              <tr>
                <td colspan="7" height="10"></td>
              </tr>
              <tr>
                <td width="5%">&nbsp;</td>
                <td width="5%" align="left" valign="top"><input type="checkbox" name="checkbox2" value="checkbox" class="no-border" alt="Click to check" title="Click to check" /></td>
                <td width="40%" align="left" valign="top" class="body-text">Create New Project </td>
                <td width="5%" align="left" valign="top"><input type="checkbox" name="checkbox222" value="checkbox" class="no-border" alt="Click to check" title="Click to check" /></td>
                <td colspan="3" align="left" valign="top" class="body-text">Edit Project </td>
                </tr>
              
			  <tr>
                <td width="5%">&nbsp;</td>
                <td width="5%" align="left" valign="top"><input type="checkbox" name="checkbox2" value="checkbox" class="no-border" alt="Click to check" title="Click to check" /></td>
                <td align="left" valign="top" class="body-text">Delete Project </td>
                <td width="5%" align="left" valign="top"><input type="checkbox" name="checkbox222" value="checkbox" class="no-border" alt="Click to check" title="Click to check"/></td>
                <td colspan="3" align="left" valign="top" class="body-text">View Project </td>
                </tr>
				
				<tr>
                <td colspan="7" align="left" valign="top" height="10"></td>
              </tr>
				
              <tr>
                <td colspan="7" bgcolor="#E5E5E3"><img src="images/blank.gif" width="" height="1" alt="" title="" /></td>
              </tr>
              <tr>
                <td height="10" colspan="7"></td>
              </tr>
              <tr>
                <td align="left" valign="top"><input type="checkbox" name="checkbox3" value="checkbox" class="no-border" alt="Click to check" title="Click to check" /></td>
                <td colspan="6" align="left" valign="top" class="body-text">Notification</td>
              </tr>
              <tr>
                <td height="10" colspan="7"></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td align="left" valign="top"><input type="checkbox" name="checkbox32" value="checkbox" class="no-border" alt="Click to check" title="Click to check"/></td>
                <td colspan="5" align="left" valign="top" class="body-text">Notifications</td>
                </tr>
              

              <tr>
                <td height="10" colspan="7"></td>
              </tr>
              <tr>
                <td colspan="7" bgcolor="#E5E5E3"><img src="images/blank.gif" width="" height="1" alt="" title="" /></td>
              </tr>
              <tr>
                <td height="10" colspan="7"></td>
              </tr>
              <tr>
                <td align="left" valign="top"><input type="checkbox" name="checkbox32322" value="checkbox" class="no-border" alt="Click to check" title="Click to check"/></td>
                <td colspan="6" align="left" valign="top" class="body-text">Project Status </td>
              </tr>
              <tr>
                <td height="10" colspan="7"></td>
              </tr>
              <tr>
                <td align="left" valign="top">&nbsp;</td>
                <td align="left" valign="top"><input type="checkbox" name="checkbox323222" value="checkbox" class="no-border" alt="Click to check" title="Click to check"/></td>
                <td colspan="5" align="left" valign="top" class="body-text">View Project Status </td>
                </tr>
              

              <tr>
                <td height="10" colspan="7" align="left" valign="top"></td>
              </tr>
              <tr>
                <td colspan="7" bgcolor="#E5E5E3"><img src="images/blank.gif" width="" height="1" alt="" title="" /></td>
              </tr>
              <tr>
                <td height="10" colspan="7" align="left" valign="top"></td>
              </tr>
              <tr>
                <td align="left" valign="top"><input type="checkbox" name="checkbox323223" value="checkbox" class="no-border" alt="Click to check" title="Click to check"/></td>
                <td colspan="6" align="left" valign="top" class="body-text">Dashboard (File Sharing &amp; Discussion) </td>
              </tr>
              <tr>
                <td colspan="7" align="left" valign="top" height="10"></td>
              </tr>
              <tr>
                <td align="left" valign="top">&nbsp;</td>
                <td align="left" valign="top"><input type="checkbox" name="checkbox3232224" value="checkbox" class="no-border" alt="Click to check" title="Click to check"/></td>
                <td align="left" valign="top" class="body-text">Add New Share File</td>
                <td align="left" valign="top"><input type="checkbox" name="checkbox3232225" value="checkbox" class="no-border" alt="Click to check" title="Click to check"/></td>
                <td colspan="3" align="left" valign="top" class="body-text">Modify Share File</td>
              </tr>
              <tr>
                <td align="left" valign="top">&nbsp;</td>
                <td align="left" valign="top"><input type="checkbox" name="checkbox32322242" value="checkbox" class="no-border" alt="Click to check" title="Click to check"/></td>
                <td align="left" valign="top" class="body-text">Delete Share File</td>
                <td align="left" valign="top"><input type="checkbox" name="checkbox32322252" value="checkbox" class="no-border" alt="Click to check" title="Click to check"/></td>
                <td colspan="3" align="left" valign="top" class="body-text">View Share File</td>
              </tr>
            </table></td>
          </tr>
		  
		  <tr>
            <td height="1" colspan="2" align="left" valign="top" bgcolor="#E5E5E3"><img src="images/blank.gif" width="" height="1" alt="" title=""/></td>
          </tr>
		  
		  <tr>
            <td height="36" colspan="2" align="left" valign="middle" class="pageHeader2">Login Details </td>
            </tr>
		  
		  <tr>
            <td height="30" align="left" valign="middle" class="body-text">Username:</td>
            <td align="left" valign="middle"><input type="text" name="textfield33" style="width:230px" alt="Username" title="Username"/></td>
          </tr>
		   <tr>
            <td height="30" align="left" valign="middle" class="body-text">Password:</td>
            <td align="left" valign="middle"><input type="password" name="textfield33" style="width:230px" alt="Password" title="Password"/></td>
          </tr>
		  
          <tr>
            <td height="1" colspan="2" align="left" valign="top" bgcolor="#E5E5E3"><img src="images/blank.gif" width="" height="1" alt="" title="" /></td>
            </tr>
			
			
			<tr>
            <td height="36" colspan="2" align="left" valign="middle" class="pageHeader2">Contact Details </td>
            </tr>
		  
		  <tr>
            <td height="30" align="left" valign="middle" class="body-text">Address:</td>
            <td align="left" valign="middle"><input type="text" name="textfield33" style="width:230px" alt="Address" title="Address"/></td>
          </tr>
		   <tr>
            <td height="30" align="left" valign="middle" class="body-text">PIN code :</td>
            <td align="left" valign="middle"><input type="password" name="textfield33" style="width:230px" alt="PIN code" title="PIN code"/></td>
          </tr>
		  <tr>
            <td height="30" align="left" valign="middle" class="body-text">Mobile No.  :</td>
            <td align="left" valign="middle"><input type="password" name="textfield33" style="width:230px" alt="Mobile No." title="Mobile No."/></td>
          </tr>
		  <tr>
            <td height="30" align="left" valign="middle" class="body-text">Telephone No. :</td>
            <td align="left" valign="middle"><input type="password" name="textfield33" style="width:230px" alt="Telephone No." title="Telephone No."/></td>
          </tr>
		  <tr>
            <td height="1" colspan="2" align="left" valign="top" bgcolor="#E5E5E3"><img src="images/blank.gif" width="" height="1" alt="" title=""/></td>
          </tr>
			
			
			
          <tr>
            <td height="40" colspan="2" align="left" valign="middle" class="body-text"><input name="Submit22" type="reset" class="inputBtn2" value="Save" alt="Save" title="Save"/>
              <input name="Submit222" type="reset" class="inputBtn2" value="Cancel" alt="Cancel" title="Cancel"/></td>
            </tr>
        </table>		</td>
      </tr>
    </table></td>
  </tr>
</table>

			  
			  </td>
            </tr>
            <tr>
              <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="7"><img src="images/main-bottom-left.gif" alt="" title="" /></td>
                    <td class="main-bottom-border"><img src="images/blank.gif" alt="" width="1" height="5" title="" /></td>
                    <td width="7"><img src="images/main-bottom-right.gif" alt="" title="" /></td>
                  </tr>
              </table></td>
            </tr>
          </table></td>
        </tr>
        <tr> 
          <td height="40" align="right" valign="middle" class="copyright">&copy; 2007-08 Axsys Technologies Limited. All rights reserved.</td>
        </tr>
		
		
      </table></td>
  </tr>
</table>
</form>

</body>
</html>
