<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>The Organizer - A Complete Project Management Solution - Companies</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="css/organizer-style.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="script/collapse.js"></script>
</head>

<body>
<form name="form1" method="post" action="">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="1003" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="400" align="left" valign="middle"><img src="images/organizer-logo.gif" width="231" height="51" hspace="20" alt="The Organizer" title="The Organizer" /></td>
    <td align="right" valign="top" style="padding-right:30px"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="34" align="right" valign="top">
		
		<table border="0" cellspacing="0" cellpadding="0" style="margin-right:10px">
          <tr>
            <td width="5" height="34" align="left" valign="top"><img src="images/user-panel-left.gif" width="5" height="35" alt="" title="" /></td>
            <td class="user-panel-background"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="22" align="left" valign="middle" class="welcome-user">Welcome Sambit</td>
                <td width="34" align="center" valign="middle"><a href="#"><img src="images/user-icon.gif" border="0" width="14" height="16" alt="User Profile" title="User Profile" /></a></td>
                <td width="1"><img src="images/icon-divider.gif" width="1" height="22" alt="" title="" /></td>
                <td width="34" align="center" valign="middle"><a href="#"><img src="images/user-icon2.gif" border="0" width="14" height="14" alt="Settings" title="Settings" /></a></td>
                <td width="1"><img src="images/icon-divider.gif" width="1" height="22" alt="" title="" /></td>
                <td width="34" align="center" valign="middle"><a href="#"><img src="images/user-icon3.gif" border="0" width="12" height="14" alt="Logout" title="Logout" /></a></td>
              </tr>
            </table></td>
            <td width="6" align="left" valign="top"><img src="images/user-panel-right.gif" width="6" height="35" alt="" title="" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="53">&nbsp;</td>
      </tr>
      <tr>
        <td height="34" align="right" valign="bottom">
		<div id="tabs" align="right">
          <ul style="float:right; padding:0px">
            <!-- CSS Tabs -->
            <li><a href="Admin-home.html"><span title="Home">Home</span></a></li>
            <li><a href="Admin-roles-skills.html"><span title="Roles &amp; Skills">Roles &amp; Skills</span></a></li>
            <li id="current"><a><span title="Companies">Companies</span></a></li>
            <li><a href="Admin-manage-member.html"><span title="Manage Member">Manage Member</span></a></li>
			<li><a href="Admin-settings.html"><span title="Settings">Settings</span></a></li>
			
          </ul>
        </div></td>
      </tr>
    </table></td>
  </tr>
</table></td>
        </tr>
        <tr> 
          <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="7"><img src="images/main-top-left.gif" alt="" title="" /></td>
                    <td class="main-top-border"><img src="images/blank.gif" alt="" width="1" height="5" title="" /></td>
                    <td width="7"><img src="images/main-top-right.gif" alt="" title="" /></td>
                  </tr>
              </table></td>
            </tr>
            <tr>
              <td align="left" valign="top" class="main-side-border border-right">
			  
			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top"><h2>Manage Company </h2></td>
  </tr>
  <tr>
    <td height="10" align="left" valign="top"></td>
  </tr>
  <tr>
    <td height="10" align="left" valign="top" class="tableBorder"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="35%" align="left" valign="top" class="border-right"><table width="96%" border="0" align="center" cellpadding="0" cellspacing="3" style="margin-top:10px;">
          <tr>
            <td align="left" valign="top" class="pageHeader">Companies</td>
          </tr>
          <tr>
            <td height="10" align="left" valign="top"></td>
          </tr>
          <tr>
            <td align="left" valign="top"><input name="Submit2" type="reset" class="inputBtn2" value="Add New Company" alt="Add New Company" title="Add New Company"/></td>
          </tr>
          <tr>
            <td height="10" align="left" valign="top"></td>
          </tr>
          
          
          <tr>
            <td height="36" align="left" valign="top"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
              <tr>
                <td width="8%" align="center" valign="middle"><img src="images/openBtn2.gif" width="11" height="11" alt="Open" title="Open" /></td>
                <td width="62%" height="30" align="left" valign="middle" class="redLink"><a href="Admin-companies02.html" title="Axsys Technologies Ltd.">Axsys Technologies Ltd.</a></td>
                <td width="15%" align="center" valign="middle" class="edit"><a href="Admin-companies02.html">Edit</a></td>
                <td align="center" valign="middle"><img src="images/menuDivider.gif" width="1" height="11" alt="" title="" /></td>
                <td width="15%" align="right" valign="middle" class="edit"><a href="#">Delete</a></td>
              </tr>
             
				<tr>
                <td colspan="5" bgcolor="#E5E5E3"><img src="images/blank.gif" width="" height="1" alt="" title="" /></td>
                </tr>
              <tr>
                <td align="center" valign="middle"><img src="images/openBtn2.gif" width="11" height="11" alt="Open" title="Open" /></td>
                <td height="30" align="left" valign="middle" class="redLink"><a href="#" title="Vision Comptech Ltd.">Vision Comptech Ltd.</a> </td>
                <td align="center" valign="middle" class="edit"><a href="#">Edit</a></td>
                <td align="center" valign="middle"><img src="images/menuDivider.gif" width="1" height="11" alt="" title="" /></td>
                <td align="right" valign="middle" class="edit"><a href="#">Delete</a></td>
              </tr>
			  
			  <tr>
                <td colspan="5" bgcolor="#E5E5E3"><img src="images/blank.gif" width="" height="1" alt="" title="" /></td>
                </tr>
			  <tr>
			    <td colspan="5">&nbsp;</td>
			    </tr>
            </table></td>
          </tr>
        </table>
		</td>
		
        <td width="65%" align="left" valign="top">
		<table width="96%" border="0" align="center" cellpadding="0" cellspacing="3" style="margin-top:10px;" >
          <tr>
            <td colspan="2" align="left" valign="top" class="pageHeader">Add New  Company</td>
          </tr>
          <tr>
            <td height="10" colspan="2" align="left" valign="top"></td>
          </tr>
          <tr>
            <td width="30%" height="30" align="left" valign="middle" class="body-text">Company Name: </td>
            <td width="70%" align="left" valign="middle"><input type="text" name="textfield3" title="Company Name" style="width:228px; padding:2px 3px 2px 3px"/></td>
          </tr>
          <tr>
            <td colspan="2" height="1" align="left" valign="top" bgcolor="#E5E5E3"><img src="images/blank.gif" width="" height="1" alt="" title=""/></td>
          </tr>
          <tr>
            <td height="30" align="left" valign="top" class="body-text" style="padding-top:5px;">About Company: </td>
            <td align="left" valign="middle" style="padding-top:5px; padding-bottom:5px"><textarea name="textarea" cols="60" rows="8" class="inputBorder" title="About Company" style="padding:3px;"></textarea></td>
          </tr>
          <tr>
            <td colspan="2" height="1" align="left" valign="top" bgcolor="#E5E5E3"><img src="images/blank.gif" width="" height="1" alt="" title="" /></td>
          </tr>
          <tr>
            <td height="30" colspan="2" align="left" valign="top" class="body-text" style="padding-top:5px;"><input name="Submit22" type="reset" class="inputBtn2" value="Save" alt="Save" title="Save"/>
                <input name="Submit222" type="reset" class="inputBtn2" value="Cancel" alt="Cancel" title="Cancel" />
            </td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
  
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
</table>

			  
			  </td>
            </tr>
            <tr>
              <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="7"><img src="images/main-bottom-left.gif" alt="" title="" /></td>
                    <td class="main-bottom-border"><img src="images/blank.gif" alt="" width="1" height="5" title="" /></td>
                    <td width="7"><img src="images/main-bottom-right.gif" alt="" title="" /></td>
                  </tr>
              </table></td>
            </tr>
          </table></td>
        </tr>
        <tr> 
          <td height="40" align="right" valign="middle" class="copyright">&copy; 2007-08 Axsys Technologies Limited. All rights reserved.</td>
        </tr>
		
		
      </table></td>
  </tr>
</table>
</form>

</body>
</html>
