<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>The Organizer - A Complete Project Management Solution - Roles &amp; Skills</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="css/organizer-style.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="script/collapse.js"></script>
</head>

<body>
<form name="form1" method="post" action="">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="1003" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="400" align="left" valign="middle"><img src="images/organizer-logo.gif" width="231" height="51" hspace="20" alt="The Organizer" title="The Organizer" /></td>
    <td align="right" valign="top" style="padding-right:30px"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="34" align="right" valign="top">
		
		<table border="0" cellspacing="0" cellpadding="0" style="margin-right:10px">
          <tr>
            <td width="5" height="34" align="left" valign="top"><img src="images/user-panel-left.gif" width="5" height="35" alt="" title="" /></td>
            <td class="user-panel-background"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="22" align="left" valign="middle" class="welcome-user">Welcome Sambit</td>
                <td width="34" align="center" valign="middle"><a href="#"><img src="images/user-icon.gif" border="0" width="14" height="16" alt="User Profile" title="User Profile" /></a></td>
                <td width="1"><img src="images/icon-divider.gif" width="1" height="22" alt="" title="" /></td>
                <td width="34" align="center" valign="middle"><a href="#"><img src="images/user-icon2.gif" border="0" width="14" height="14" alt="Settings" title="Settings" /></a></td>
                <td width="1"><img src="images/icon-divider.gif" width="1" height="22" alt="" title="" /></td>
                <td width="34" align="center" valign="middle"><a href="#"><img src="images/user-icon3.gif" border="0" width="12" height="14" alt="Logout" title="Logout" /></a></td>
              </tr>
            </table></td>
            <td width="6" align="left" valign="top"><img src="images/user-panel-right.gif" width="6" height="35" alt="" title="" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="53">&nbsp;</td>
      </tr>
      <tr>
        <td height="34" align="right" valign="bottom">
		<div id="tabs" align="right">
          <ul style="float:right; padding:0px">
            <!-- CSS Tabs -->
            <li><a href="Admin-home.html"><span title="Home">Home</span></a></li>
            <li  id="current"><a><span title="Roles &amp; Skills">Roles &amp; Skills</span></a></li>
            <li><a href="Admin-companies.html"><span title="Companies">Companies</span></a></li>
            <li><a href="Admin-manage-member.html"><span title="Manage Member">Manage Member</span></a></li>
			<li><a href="Admin-settings.html"><span title="Settings">Settings</span></a></li>
			
          </ul>
        </div></td>
      </tr>
    </table></td>
  </tr>
</table></td>
        </tr>
        <tr> 
          <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="7"><img src="images/main-top-left.gif" alt="" title="" /></td>
                    <td class="main-top-border"><img src="images/blank.gif" alt="" width="1" height="5" title="" /></td>
                    <td width="7"><img src="images/main-top-right.gif" alt="" title="" /></td>
                  </tr>
              </table></td>
            </tr>
            <tr>
              <td align="left" valign="top" class="main-side-border border-right">
			  
			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top"><h2>Roles &amp; Skills </h2></td>
  </tr>
  <tr>
    <td height="10" align="left" valign="top"></td>
  </tr>
  <tr>
    <td align="left" valign="top" bgcolor="#E5E5E3"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
  </tr>
  <tr>
    <td height="10" align="left" valign="top"></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="taskTab">
	<div id="tabInside" align="right">
         <ul>
          <!-- CSS Tabs -->
           <li id="active"><a href="#"><span title="Configure Roles">Configure Roles</span></a></li>
           <li><a href="Admin-roles-skills03.html"><span title="Configure Skills">Configure Skills</span></a></li>                                   
         </ul>
   </div>	</td>
  </tr>
  <tr>
    <td height="2" align="left" valign="top"></td>
  </tr>
  <tr>
    <td height="10" align="left" valign="top"></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="tableBorder">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="34%" align="left" valign="top" class="border-right">
		
		<table width="96%" border="0" align="center" cellpadding="0" cellspacing="3" style="margin-top:10px;" >
          <tr>
            <td align="left" valign="top" class="pageHeader">Configured Roles</td>
          </tr>
          <tr>
            <td height="10" align="left" valign="top"></td>
          </tr>
          <tr>
            <td align="left" valign="top"><input name="Submit2" type="reset" class="inputBtn2" value="Configure New Role" alt="Configure New Role" title="Configure New Role"/></td>
          </tr>
          <tr>
            <td height="10" align="left" valign="top"></td>
          </tr>
          <tr>
            <td height="30" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="8%" align="center" valign="middle"><img src="images/openBtn2.gif" width="11" height="11" alt="Open" title="Open" /></td>
                <td width="62%" height="30" align="left" valign="middle" class="redLink"><a href="Admin-roles-skills02.html">Project Manager</a></td>
                <td width="15%" align="center" valign="middle" class="edit"><a href="#">Edit</a></td>
                <td width="1" align="center" valign="middle"><img src="images/menuDivider.gif" width="1" height="11" alt="" title="" /></td>
                <td width="15%" align="right" valign="middle" class="edit"><a href="#">Delete</a></td>
              </tr>
              <tr>
                <td height="1" colspan="5" align="left" valign="middle" bgcolor="#E5E5E3"><img src="images/blank.gif" width="" height="1" alt="" title="" /></td>
                </tr>
              <tr>
                <td align="center" valign="middle"><img src="images/openBtn2.gif" width="11" height="11" alt="Open" title="Open" /></td>
                <td height="30" align="left" valign="middle" class="redLink">Team Leader</td>
                <td align="center" valign="middle" class="edit"><a href="#">Edit</a></td>
                <td align="center" valign="middle"><img src="images/menuDivider.gif" width="1" height="11" alt="" title="" /></td>
                <td align="right" valign="middle" class="edit"><a href="#">Delete</a></td>
              </tr>
			  
			  <tr>
                <td height="1" colspan="5" align="left" valign="middle" bgcolor="#E5E5E3"><img src="images/blank.gif" width="" height="1" alt="" title="" /></td>
                </tr>
              <tr>
                <td align="center" valign="middle"><img src="images/openBtn2.gif" width="11" height="11" alt="Open" title="Open" /></td>
                <td height="30" align="left" valign="middle" class="redLink">Developer</td>
                <td align="center" valign="middle" class="edit"><a href="#">Edit</a></td>
                <td align="center" valign="middle"><img src="images/menuDivider.gif" width="1" height="11" alt="" title="" /></td>
                <td align="right" valign="middle" class="edit"><a href="#">Delete</a></td>
              </tr>
			  
			  <tr>
                <td height="1" colspan="5" align="left" valign="middle" bgcolor="#E5E5E3"><img src="images/blank.gif" width="" height="1" alt="" title="" /></td>
                </tr>
              <tr>
                <td align="center" valign="middle"><img src="images/openBtn2.gif" width="11" height="11" alt="Open" title="Open" /></td>
                <td height="30" align="left" valign="middle" class="redLink">Designer</td>
                <td align="center" valign="middle" class="edit"><a href="#">Edit</a></td>
                <td align="center" valign="middle"><img src="images/menuDivider.gif" width="1" height="11" alt="" title="" /></td>
                <td align="right" valign="middle" class="edit"><a href="#">Delete</a></td>
              </tr>
			  
			  <tr>
                <td height="1" colspan="5" align="left" valign="middle" bgcolor="#E5E5E3"><img src="images/blank.gif" width="" height="1" alt="" title="" /></td>
              </tr>
              <tr>
                <td align="center" valign="middle"><img src="images/openBtn2.gif" width="11" height="11" alt="Open" title="Open" /></td>
                <td height="30" align="left" valign="middle" class="redLink">Tester</td>
                <td align="center" valign="middle" class="edit"><a href="#">Edit</a></td>
                <td align="center" valign="middle"><img src="images/menuDivider.gif" width="1" height="11" alt="" title="" /></td>
                <td align="right" valign="middle" class="edit"><a href="#">Delete</a></td>
              </tr>
			  
			  <tr>
                <td height="1" colspan="5" align="left" valign="middle" bgcolor="#E5E5E3"><img src="images/blank.gif" width="" height="1" alt="" title="" /></td>
              </tr>
			  
            </table></td>
          </tr>
          <tr>
            <td height="30" align="left" valign="top">&nbsp;</td>
          </tr>
        </table></td>
		
        <td width="65%" align="left" valign="top"><table width="96%" border="0" align="center" cellpadding="0" cellspacing="3" style="margin-top:10px;">
          <tr>
            <td colspan="2" align="left" valign="top" class="pageHeader">Configure New Role </td>
            </tr>
          <tr>
            <td height="20" colspan="2" align="left" valign="top"></td>
            </tr>
          <tr>
            <td width="20%" height="30" align="left" valign="top" class="body-text">Role Name: </td>
            <td width="80%" align="left" valign="top"><input type="text" name="textfield3" title="Company Name" style="width:228px;padding:2px 3px 2px 3px"/></td>
          </tr>
          <tr>
            <td height="1" colspan="2" align="left" valign="top" bgcolor="#E5E5E3"><img src="images/blank.gif" width="" height="1" alt="" title="" /></td>
            </tr>
          <tr>
            <td height="30" align="left" valign="middle" class="body-text">Short Name: </td>
            <td align="left" valign="middle"><input type="text" name="textfield32" title="Company Name" style="width:150px; padding:2px 3px 2px 3px"/></td>
          </tr>
          <tr>
            <td colspan="2" align="left" valign="middle" bgcolor="#E5E5E3"><img src="images/blank.gif" width="" height="1" alt="" title=""/></td>
            </tr>
          <tr>
            <td height="30" align="left" valign="top" class="body-text">Skills:</td>
            <td align="left" valign="top"><table width="100%" border="0" cellspacing="3" cellpadding="0">
              <tr>
                <td width="5%" align="left" valign="middle">
                  <input type="checkbox" name="checkbox" value="checkbox" class="no-border" /></td>
                <td colspan="8" align="left" class="body-text">Dot NET </td>
                </tr>
				
              <tr>
                <td colspan="9" height="10"></td>
              </tr>
			  
              <tr>
                <td width="5%">&nbsp;</td>
                <td width="5%" align="left" valign="top"><input type="checkbox" name="checkbox2" value="checkbox" class="no-border" /></td>
                <td width="20%" align="left" valign="top" class="body-text">ADO.Net</td>
                <td width="5%" align="left" valign="top"><input type="checkbox" name="checkbox22" value="checkbox" class="no-border" /></td>
                <td width="20%" align="left" valign="top" class="body-text">ASP.Net</td>
				<td width="5%" align="left" valign="top"><input type="checkbox" name="checkbox222" value="checkbox" class="no-border" /></td>
                <td width="20%" align="left" valign="top" class="body-text">Sharepoint</td>
                <td width="5%" align="left" valign="top"><input type="checkbox" name="checkbox2222" value="checkbox" class="no-border" /></td>
                <td width="15%" align="left" valign="top">VB.Net</td>                
              </tr>
              <tr>
                <td height="10" colspan="9"></td>
                </tr>
              <tr>
                <td colspan="9" bgcolor="#E5E5E3"><img src="images/blank.gif" width="" height="1" alt="" title="" /></td>
                </tr>
              <tr>
                <td height="10" colspan="9"></td>
                </tr>
              <tr>
                <td align="left" valign="top"><input type="checkbox" name="checkbox3" value="checkbox" class="no-border" /></td>
                <td colspan="8" align="left" valign="top">HTML</td>
                </tr>
              <tr>
                <td height="10" colspan="9"></td>
                </tr>
              <tr>
                <td>&nbsp;</td>
                <td align="left" valign="top"><input type="checkbox" name="checkbox32" value="checkbox" class="no-border" /></td>
                <td colspan="3" align="left" valign="top" class="body-text">Adobe Illustrator</td>
                <td align="left" valign="top"><input type="checkbox" name="checkbox322" value="checkbox" class="no-border" /></td>
                <td colspan="3" align="left" valign="top" class="body-text">Adobe Photoshop</td>
                </tr>
              
              <tr>
                <td>&nbsp;</td>
                <td align="left" valign="top"><input type="checkbox" name="checkbox323" value="checkbox" class="no-border" /></td>
                <td colspan="3" align="left" valign="top" class="body-text">Corel Draw </td>
                <td align="left" valign="top"><input type="checkbox" name="checkbox3222" value="checkbox" class="no-border" /></td>
                <td colspan="3" align="left" valign="top" class="body-text">HTML</td>
                </tr>
              
              <tr>
                <td>&nbsp;</td>
                <td align="left" valign="top"><input type="checkbox" name="checkbox3232" value="checkbox" class="no-border" /></td>
                <td colspan="3" align="left" valign="top" class="body-text">Macromedia Dreamweaver</td>
                <td align="left" valign="top"><input type="checkbox" name="checkbox3233" value="checkbox" class="no-border" /></td>
                <td colspan="3" align="left" valign="top" class="body-text">Macromedia Flash</td>
              </tr>
              <tr>
                <td height="10" colspan="9"></td>
                </tr>
              <tr>
                <td colspan="9" bgcolor="#E5E5E3"><img src="images/blank.gif" width="" height="1" alt="" title="" /></td>
                </tr>
              <tr>
                <td height="10" colspan="9"></td>
                </tr>
              <tr>
                <td align="left" valign="top"><input type="checkbox" name="checkbox32322" value="checkbox" class="no-border" /></td>
                <td colspan="8" align="left" valign="top" class="body-text">Java</td>
                </tr>
              <tr>
                <td height="10" colspan="9"></td>
                </tr>
              <tr>
                <td align="left" valign="top">&nbsp;</td>
                <td align="left" valign="top"><input type="checkbox" name="checkbox323222" value="checkbox" class="no-border" /></td>
                <td align="left" valign="top" class="body-text">AJAX</td>
                <td align="left" valign="top"><input type="checkbox" name="checkbox3232222" value="checkbox" class="no-border" /></td>
                <td align="left" valign="top" class="body-text">EJB</td>
                <td align="left" valign="top"><input type="checkbox" name="checkbox32322222" value="checkbox" class="no-border" /></td>
                <td align="left" valign="top" class="body-text">Hibernet</td>
                <td align="left" valign="top"><input type="checkbox" name="checkbox323222222" value="checkbox" class="no-border" /></td>
                <td align="left" valign="top" class="body-text">J2EE </td>
              </tr>
             
              <tr>
                <td align="left" valign="top">&nbsp;</td>
                <td align="left" valign="top"><input type="checkbox" name="checkbox3232223" value="checkbox" class="no-border" /></td>
                <td align="left" valign="top" class="body-text">Spring</td>
                <td align="left" valign="top"><input type="checkbox" name="checkbox32322223" value="checkbox" class="no-border" /></td>
                <td align="left" valign="top" class="body-text">Sturts</td>
                <td align="left" valign="top"><input type="checkbox" name="checkbox32322224" value="checkbox" class="no-border" /></td>
                <td align="left" valign="top" class="body-text">Web Service</td>
                <td align="left" valign="top"><input type="checkbox" name="checkbox32322225" value="checkbox" class="no-border" /></td>
                <td align="left" valign="top" class="body-text">XML</td>
              </tr>
              <tr>
                <td height="10" colspan="9" align="left" valign="top"></td>
                </tr>
              <tr>
                <td colspan="9" bgcolor="#E5E5E3"><img src="images/blank.gif" width="" height="1" alt="" title="" /></td>
                </tr>
              <tr>
                <td height="10" colspan="9" align="left" valign="top"></td>
                </tr>
              <tr>
                <td align="left" valign="top"><input type="checkbox" name="checkbox323223" value="checkbox" class="no-border" /></td>
                <td colspan="8" align="left" valign="top" class="body-text">PHP</td>
                </tr>
              <tr>
                <td colspan="9" align="left" valign="top" height="10"></td>
                </tr>
              <tr>
                <td align="left" valign="top">&nbsp;</td>
                <td align="left" valign="top"><input type="checkbox" name="checkbox3232224" value="checkbox" class="no-border" /></td>
                <td colspan="3" align="left" valign="top" class="body-text">Joomla</td>
                <td align="left" valign="top"><input type="checkbox" name="checkbox3232225" value="checkbox" class="no-border" /></td>
                <td colspan="3" align="left" valign="top" class="body-text">PHP/MySQL</td>
                </tr>
			  
            </table></td>
          </tr>
          <tr>
            <td height="1" colspan="2" align="left" valign="top" bgcolor="#E5E5E3"><img src="images/blank.gif" width="" height="1" alt="" title="" /></td>
            </tr>
          <tr>
            <td height="40" colspan="2" align="left" valign="middle" class="body-text"><input name="Submit22" type="reset" class="inputBtn2" value="Save" alt="Save" title="Save"/>
              <input name="Submit222" type="reset" class="inputBtn2" value="Cancel" alt="Cancel" title="Cancel"/></td>
            </tr>
        </table>		</td>
      </tr>
    </table></td>
  </tr>
</table>

			  
			  </td>
            </tr>
            <tr>
              <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="7"><img src="images/main-bottom-left.gif" alt="" title="" /></td>
                    <td class="main-bottom-border"><img src="images/blank.gif" alt="" width="1" height="5" title="" /></td>
                    <td width="7"><img src="images/main-bottom-right.gif" alt="" title="" /></td>
                  </tr>
              </table></td>
            </tr>
          </table></td>
        </tr>
        <tr> 
          <td height="40" align="right" valign="middle" class="copyright">&copy; 2007-08 Axsys Technologies Limited. All rights reserved.</td>
        </tr>
		
		
      </table></td>
  </tr>
</table>
</form>

</body>
</html>
