<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>The Organizer - A Complete Project Management Solution - Settings</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="css/organizer-style.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="script/collapse.js"></script>
</head>

<body>
<form name="form1" method="post" action="">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="1003" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="400" align="left" valign="middle"><img src="images/organizer-logo.gif" width="231" height="51" hspace="20" alt="The Organizer" title="The Organizer" /></td>
    <td align="right" valign="top" style="padding-right:30px"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="34" align="right" valign="top">
		
		<table border="0" cellspacing="0" cellpadding="0" style="margin-right:10px">
          <tr>
            <td width="5" height="34" align="left" valign="top"><img src="images/user-panel-left.gif" width="5" height="35" alt="" title="" /></td>
            <td class="user-panel-background"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="22" align="left" valign="middle" class="welcome-user">Welcome Sambit</td>
                <td width="34" align="center" valign="middle"><a href="#"><img src="images/user-icon.gif" border="0" width="14" height="16" alt="User Profile" title="User Profile" /></a></td>
                <td width="1"><img src="images/icon-divider.gif" width="1" height="22" alt="" title="" /></td>
                <td width="34" align="center" valign="middle"><a href="#"><img src="images/user-icon2.gif" border="0" width="14" height="14" alt="Settings" title="Settings" /></a></td>
                <td width="1"><img src="images/icon-divider.gif" width="1" height="22" alt="" title="" /></td>
                <td width="34" align="center" valign="middle"><a href="#"><img src="images/user-icon3.gif" border="0" width="12" height="14" alt="Logout" title="Logout" /></a></td>
              </tr>
            </table></td>
            <td width="6" align="left" valign="top"><img src="images/user-panel-right.gif" width="6" height="35" alt="" title="" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="53">&nbsp;</td>
      </tr>
      <tr>
        <td height="34" align="right" valign="bottom">
		<div id="tabs" align="right">
          <ul style="float:right; padding:0px">
            <!-- CSS Tabs -->
            <li><a href="Admin-home.html"><span title="Home">Home</span></a></li>
            <li><a href="Admin-roles-skills.html"><span title="Roles &amp; Skills">Roles &amp; Skills</span></a></li>
            <li><a href="Admin-companies.html"><span title="Companies">Companies</span></a></li>
            <li><a href="Admin-manage-member.html"><span title="Manage Member">Manage Member</span></a></li>
			<li id="current"><a><span title="Settings">Settings</span></a></li>
			
          </ul>
        </div></td>
      </tr>
    </table></td>
  </tr>
</table></td>
        </tr>
        <tr> 
          <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="7"><img src="images/main-top-left.gif" alt="" title="" /></td>
                    <td class="main-top-border"><img src="images/blank.gif" alt="" width="1" height="5" title="" /></td>
                    <td width="7"><img src="images/main-top-right.gif" alt="" title="" /></td>
                  </tr>
              </table></td>
            </tr>
            <tr>
              <td align="left" valign="top" class="main-side-border border-right">
			  
			   <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top"><h2>Settings</h2></td>
  </tr>
  <tr>
    <td height="10" align="left" valign="top"></td>
  </tr>
  <tr>
    <td align="left" valign="top" bgcolor="#E5E5E3"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
  </tr>
  <tr>
    <td height="10" align="left" valign="top"></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="taskTab">
	<div id="tabInside" align="right">
         <ul>
          <!-- CSS Tabs -->
           <li id="active"><a href="#"><span title="Existing Settings">Existing Settings</span></a></li>
           <li><a href="#"><span title="Manage Password">Manage Password</span></a></li>                                   
         </ul>
   </div>	</td>
  </tr>
  <tr>
    <td height="2" align="left" valign="top"></td>
  </tr>
  <tr>
    <td height="20" align="left" valign="top"></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="pageHeader">Existing Settings </td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="100%" border="0" cellspacing="3" cellpadding="0">
	
      <tr id="divSettingsName2">
        <td width="15%" height="36" align="left" valign="middle" class="body-text">Software Name: </td>
        <td width="75%" align="left" valign="middle" class="body-text">The Organizer </td>
        <td width="10%" align="right" valign="middle">
          <input name="Submit2" type="reset" class="inputBtn2" value="Edit" alt="Edit" title="Edit" onclick="javascript:ShowSettingsName();" /></td>
      </tr>
	  
	  <tr>		
		<td colspan="3">
		<div id="divSettingsName" style="display:none; position:static">
		  <div class="divSettings">
		   <div class="divLabel1">Software Name:</div>
		   <div class="divLabel2"><input name="textfield4" type="text" style="width:640px;" title="Project Title" value="The Organizer" class="divInput"/>
		   </div>
		   <div class="divLabel3"><input name="Submit22" type="submit" class="inputBtn2" value="Save" alt="Save" title="Save" /> <input name="Submit22" type="submit" class="inputBtn2" value="Cancel" alt="Cancel" title="Cancel" /></div>
		  
		  
		  </div>
		  </div>
		  </td>			
		</tr>
	  
     <tr>
       <td align="left" valign="top" bgcolor="#E5E5E3" colspan="3"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
     </tr>
	 
	 
      <tr id="divSettingsCompany2">
        <td height="36" align="left" valign="middle" class="body-text">Company Name: </td>
        <td align="left" valign="middle" class="body-text">Axsys Technologies Ltd. </td>
        <td align="right" valign="middle"><input name="Submit22" type="reset" class="inputBtn2" value="Edit" alt="Edit" title="Edit" onclick="javascript:ShowSettingsCompany();"/></td>
      </tr>
	  
	  <tr>		
		<td colspan="3">
		<div id="divSettingsCompany" style="display:none; position:static">
		  <div class="divSettings">
		   <div class="divLabel1">Company Name:</div>
		   <div class="divLabel2"><input name="textfield4" type="text" style="width:640px;" title="Project Title" value="Axsys Technologies Ltd." class="divInput"/>
		   </div>
		   <div class="divLabel3"><input name="Submit22" type="submit" class="inputBtn2" value="Save" alt="Save" title="Save" /> <input name="Submit22" type="submit" class="inputBtn2" value="Cancel" alt="Cancel" title="Cancel" /></div> 
		  
		  </div>
		  </div>
		  </td>			
		</tr>
	 
       <tr>
         <td align="left" valign="top" bgcolor="#E5E5E3" colspan="3"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
       </tr>
	   
      
	<tr id="divSettingsURL2">
        <td height="36" align="left" valign="middle" class="body-text">Site URL :</td>
        <td align="left" valign="middle" class="body-text">http://www.detechinstruments.com/pmsnew/</td>
        <td align="right" valign="middle"><input name="Submit222" type="reset" class="inputBtn2" value="Edit" alt="Edit" title="Edit" onclick="javascript:ShowSettings();"/></td>		
        </tr>
		
		<tr>		
		<td colspan="3">
		<div id="divSettingsURL" style="display:none; position:static">
		  <div class="divSettings">
		   <div class="divLabel1">Site URL:</div>
		   <div class="divLabel2"><input name="textfield4" type="text" style="width:640px;" title="Project Title" value="http://www.detechinstruments.com/pmsnew/" class="divInput"/>
		   </div>
		   <div class="divLabel3"><input name="Submit22" type="submit" class="inputBtn2" value="Save" alt="Save" title="Save" /> <input name="Submit22" type="submit" class="inputBtn2" value="Cancel" alt="Cancel" title="Cancel" /></div>
		  
		  
		  </div>
		  </div>
		  </td>			
		</tr>
	
       <tr>
       <td align="left" valign="top" bgcolor="#E5E5E3" colspan="3"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
       </tr>
	 
	 
      <tr id="divSettingsLanguage2">
        <td height="36" align="left" valign="middle" class="body-text">Language:</td>
        <td align="left" valign="middle" class="body-text">English</td>
        <td align="right" valign="middle"><input name="Submit222" type="reset" class="inputBtn2" value="Edit" alt="Edit" title="Edit" onclick="javascript:ShowSettingsLanguage();" /></td>
      </tr>
	  
	   <tr>		
		<td colspan="3">
		<div id="divSettingsLanguage" style="display:none; position:static">
		  <div class="divSettings">
		   <div class="divLabel1">Language:</div>
		   <div class="divLabel2"><input name="textfield4" type="text" style="width:640px;" title="Project Title" value="English" class="divInput"/>
		   </div>
		   <div class="divLabel3"><input name="Submit22" type="submit" class="inputBtn2" value="Save" alt="Save" title="Save" /> <input name="Submit22" type="submit" class="inputBtn2" value="Cancel" alt="Cancel" title="Cancel" /></div> 
		  
		  </div>
		  </div>
		  </td>			
		</tr>
	  
	  
       <tr>
       <td align="left" valign="top" bgcolor="#E5E5E3" colspan="3"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
     </tr>
	 
      <tr id="divSettingsTemplate2">
        <td height="36" align="left" valign="middle" class="body-text">Current Template: </td>
        <td align="left" valign="middle" class="body-text">Template 1 </td>
        <td align="right" valign="middle"><input name="Submit2222" type="reset" class="inputBtn2" value="Edit" alt="Edit" title="Edit" onclick="javascript:ShowSettingsTemplate();" /></td>
      </tr>
	  
	  <tr>		
		<td colspan="3">
	  <div id="divSettingsTemplate" style="display:none; position:static">
		  <div class="divSettings">
		   <div class="divLabel1">Language:</div>
		   <div class="divLabel2"><input name="textfield4" type="text" style="width:640px;" title="Project Title" value="English" class="divInput"/>
		   </div>
		   <div class="divLabel3"><input name="Submit22" type="submit" class="inputBtn2" value="Save" alt="Save" title="Save" /> <input name="Submit22" type="submit" class="inputBtn2" value="Cancel" alt="Cancel" title="Cancel" /></div> 
		  
		  </div>
		  </div>
		  </td>
		  </tr>
	  
	  
       <tr>
       <td align="left" valign="top" bgcolor="#E5E5E3" colspan="3"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
     </tr>
      <tr>
        <td height="36" align="left" valign="middle" class="body-text">Date Format: </td>
        <td align="left" valign="middle" class="body-text">DD-MM-YYYY</td>
        <td align="right" valign="middle"><input name="Submit2223" type="reset" class="inputBtn2" value="Edit" alt="Edit" title="Edit" /></td>
      </tr>
       <tr>
       <td align="left" valign="top" bgcolor="#E5E5E3" colspan="3"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
     </tr>
      <tr>
        <td height="36" align="left" valign="middle" class="body-text">Current Symbol: </td>
        <td align="left" valign="middle" class="body-text">Rs.</td>
        <td align="right" valign="middle"><input name="Submit2224" type="reset" class="inputBtn2" value="Edit" alt="Edit" title="Edit" /></td>
      </tr>
       <tr>
       <td align="left" valign="top" bgcolor="#E5E5E3" colspan="3"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
     </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
</table>

			  
			  </td>
            </tr>
            <tr>
              <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="7"><img src="images/main-bottom-left.gif" alt="" title="" /></td>
                    <td class="main-bottom-border"><img src="images/blank.gif" alt="" width="1" height="5" title="" /></td>
                    <td width="7"><img src="images/main-bottom-right.gif" alt="" title="" /></td>
                  </tr>
              </table></td>
            </tr>
          </table></td>
        </tr>
        <tr> 
          <td height="40" align="right" valign="middle" class="copyright">&copy; 2007-08 Axsys Technologies Limited. All rights reserved.</td>
        </tr>
		
		
      </table></td>
  </tr>
</table>
</form>

</body>
</html>
