<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>The Organizer - A Complete Project Management Solution - Notification - Add Task</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="css/organizer-style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<form name="form1" method="post" action="">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="1003" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="500" align="left" valign="middle"><img src="images/organizer-logo.gif" width="231" height="51" hspace="20" alt="The Organizer" title="The Organizer" /></td>
    <td align="right" valign="top" style="padding-right:30px"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="34" align="right" valign="top">
		
		<table border="0" cellspacing="0" cellpadding="0" style="margin-right:10px">
          <tr>
            <td width="5" height="34" align="left" valign="top"><img src="images/user-panel-left.gif" width="5" height="35" alt="" title="" /></td>
            <td class="user-panel-background"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="22" align="left" valign="middle" class="welcome-user">Welcome Sambit</td>
                <td width="34" align="center" valign="middle"><a href="#"><img src="images/user-icon.gif" border="0" width="14" height="16" alt="User Profile" title="User Profile" /></a></td>
                <td width="1"><img src="images/icon-divider.gif" width="1" height="22" alt="" title="" /></td>
                <td width="34" align="center" valign="middle"><a href="#"><img src="images/user-icon2.gif" border="0" width="14" height="14" alt="Settings" title="Settings" /></a></td>
                <td width="1"><img src="images/icon-divider.gif" width="1" height="22" alt="" title="" /></td>
                <td width="34" align="center" valign="middle"><a href="#"><img src="images/user-icon3.gif" border="0" width="12" height="14" alt="Logout" title="Logout" /></a></td>
              </tr>
            </table></td>
            <td width="6" align="left" valign="top"><img src="images/user-panel-right.gif" width="6" height="35" alt="" title="" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="53">&nbsp;</td>
      </tr>
      <tr>
        <td height="34" align="right" valign="bottom">
		<div id="tabs" align="right">
          <ul style="float:right; padding:0px;">
            <!-- CSS Tabs -->
            <li><a href="#"><span title="Projects">Projects</span></a></li>
            <li id="current"><a href="#"><span title="Notification">Notification</span></a></li>
            <li><a href="#"><span title="Project Status">Project Status</span></a></li>
            <li><a href="#"><span title="Dashboard">Dashboard</span></a></li>
			
          </ul>
        </div></td>
      </tr>
    </table></td>
  </tr>
</table></td>
        </tr>
        <tr> 
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="386" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="6" height="6" align="left" valign="top"><img src="images/left-top-corner.gif" width="6" height="6" alt="" title="" /></td>
                        <td height="4" align="left" valign="top" class="main-top-border"><img src="images/blank.gif" alt="" width="" height="4" title="" /></td>
                      </tr>
                    </table></td>
                    
                    <td valign="top"><table width="100%" border="0" align="right" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="611" height="4" align="left" valign="top" class="main-top-border"><img src="images/blank.gif"  width="" height="4" alt="" title="" /></td>
                        <td width="6" height="6" align="right" valign="top"><img src="images/right-top-corner.gif" width="6" height="6" alt="" title=""/></td>
                      </tr>
                    </table></td>
                  </tr>
				  
				  
                  <tr>
                    <td height="546" colspan="2" align="left" valign="top" class="main-side-border border-right"><table width="100%" border="0" cellspacing="3" cellpadding="0">
                      <tr>
                        <td height="36" align="left" valign="top"><h2>Notification</h2></td>
                      </tr>
					  
					   <tr>
						  <td bgcolor="#E5E5E3" colspan="3"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
					   </tr>
					  
                      <tr>
                        <td height="55" align="left" valign="top">
						
						<table width="100%" border="0" cellspacing="0" cellpadding="0" class="taskTab">
                          <tr>
                            <td align="left" valign="bottom">
							
							    <div id="tabInside" align="right">
								  <ul>
									<!-- CSS Tabs -->
									<li><a href="#"><span title="Inbox"><img src="images/iconInbox.gif" border="0" class="iconImages" alt="Inbox" title="Inbox" />Inbox</span></a></li>
									<li id="current"><a href="#"><span title="Add Task"><img src="images/iconAddTask.gif" border="0" class="iconImages" alt="Assign Task" title="Assign Task" />Assign Task</span></a></li>
									<li><a href="#"><span title="Sent Items"><img src="images/iconSentItems.gif" border="0" class="iconImages" alt="Sent Items" title="Sent Items" />Sent Items</span></a></li>
									<li><a href="#"><span title="Trash"><img src="images/iconTrash.gif" border="0" class="iconImages" alt="Trash" title="Trash" />Trash</span></a></li>
									
								  </ul>
                               </div>
							
							
							
							
							</td>
                            <td width="210" align="left" valign="top"><div  class="mailStatus">Total unread mail: &nbsp;<strong>Inbox(0)</strong></div></td>
                          </tr>
                        </table>
						
						</td>
                      </tr>
					  
					  <tr>
                        <td height="40" align="left" valign="middle" class="addTask">Assign Task </td>
                      </tr>
					  <tr>
					    <td align="left" valign="top"><table width="100%" border="0" cellspacing="3" cellpadding="0">
                          <tr>
                            <td width="10%" height="33" align="left" valign="top" class="body-text">Project:</td>
                            <td width="40%" align="left" valign="top">
                              <select name="select" style="width:152px" class="inputBorder" title="Project">
                                <option>Project1</option>
                                <option>Project2</option>
                              </select>                            </td>
                            <td width="10%" align="left" valign="top">&nbsp;</td>
                            <td width="40%" align="left" valign="top">&nbsp;</td>
                          </tr>
						  
                           <tr>
						  <td bgcolor="#E5E5E3" colspan="4"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
					   </tr>
					   
                          <tr>
                            <td height="33" align="left" valign="middle" class="body-text">Subject:</td>
                            <td align="left" valign="middle">
                              <input type="text" name="textfield"  style="width:330px" title="Subject"/>                            </td>
                            <td align="left" valign="middle" class="body-text">Priority:</td>
                            <td align="left" valign="middle"><select name="select2" style="width:152px" class="inputBorder" title="Priority">
                              <option>High</option>
                              <option>Average</option>
                              <option>Low</option>
                            </select>                            </td>
                          </tr>
						  
						   <tr>
						  <td bgcolor="#E5E5E3" colspan="4"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
					   </tr>
						  
                          
                          <tr>
                            <td height="33" align="left" valign="middle" class="body-text">Assign to: </td>
                            <td colspan="3" align="left" valign="top"><table width="60%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td height="33" colspan="3" align="left" valign="middle"><select name="select3" style="width:152px" class="inputBorder" title="Project">
                                  <option>UI Designer</option>
                                </select>                                </td>
                                </tr>
                              <tr>
                                <td width="37%" align="left" valign="middle">
                                  <select name="select4" size="1" multiple="multiple" class="inputBorder" style="height:90px; width:190px">
                                    <option>Sambit</option>
                                    <option>Avradip</option>
                                    <option>Suvendu</option>
                                    <option>Ghanshyam</option>
                                  </select></td>
                                <td width="7%" align="center" valign="top"><a href="#"><img src="images/btn-1.gif" width="17" height="17" vspace="2" border="0" alt="" title="" /></a><br/>
                                  <a href="#"><img src="images/btn2.gif" width="17" height="17" vspace="2" border="0"  alt="" title=""/></a><br/>
								  <a href="#"><img src="images/btn3.gif" width="17" height="17" vspace="2" border="0" alt="" title=""/></a><br/>
								  <a href="#"><img src="images/btn4.gif" width="17" height="17" vspace="2" border="0"  alt="" title=""/></a>
								  </td>
                                <td width="56%"><select name="select4" size="1" multiple="multiple" class="inputBorder" style="height:90px; width:190px">
                                  <option>Sambit</option>
                                </select></td>
                              </tr>
                              <tr>
                                <td height="45" align="left" valign="middle"><input name="Submit3" type="submit" class="inputBtn2" value="Add All" title="Add All" /></td>
                                <td></td>
                                <td align="left" valign="middle"><input name="Submit32" type="submit" class="inputBtn2" value="Remove All" title="Remove All" /></td>
                              </tr>
                            </table></td>
                            </tr>
						  
						<tr>
						  <td bgcolor="#E5E5E3" colspan="4"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
					   </tr>
					   
					   <tr>
                            <td height="33" align="left" valign="top" class="body-text" style="padding:5px 0px">Description: </td>
                            <td align="left" valign="middle" style="padding:5px 0px">
                              <textarea name="textarea" cols="39" rows="4" class="inputBorder" title="Description"></textarea>                            </td>
                            <td align="left" valign="middle" class="body-text">&nbsp;</td>
                            <td align="left" valign="middle">&nbsp;</td>
                          </tr>
						  
						  <tr>
						  <td bgcolor="#E5E5E3" colspan="4"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
					   </tr>
					   
					   
                        </table></td>
					    </tr>
					  <tr>
					    <td height="33" align="left" valign="middle">
					      <input name="Submit" type="submit" class="inputBtn" value="Done" title="Done" />
					      <input name="Submit2" type="reset" class="inputBtn" value="Reset" title="Reset" />
					    </td>
					    </tr>
                    </table></td>
                    </tr>
				  
				  
                  <tr>
                    <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="6"><img src="images/left-bottom-corner.gif" width="6" height="6" alt="" title="" /></td>
                        <td height="4" align="left" valign="bottom" class="main-bottom-border"><img src="images/blank.gif" alt="" width="" height="4" title="" /></td>
                      </tr>
                    </table></td>
                   
                    <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="611" class="main-bottom-border"><img src="images/blank.gif" alt="" width="" height="4" title="" /></td>
                        <td width="6" align="right" valign="top"><img src="images/right-bottom-corner.gif" width="6" height="6" alt="" title="" /></td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
              
            </table></td>
        </tr>
        <tr> 
          <td height="40" align="right" valign="middle" class="copyright">&copy; 2007-08 Axsys Technologies Limited. All rights reserved.</td>
        </tr>
		
		
      </table></td>
  </tr>
</table>
</form>

</body>
</html>
