<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>The Organizer - A Complete Project Management Solution - Project</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="css/organizer-style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<form name="form1" method="post" action="">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="1003" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="500" align="left" valign="middle"><img src="images/organizer-logo.gif" width="231" height="51" hspace="20" alt="The Organizer" title="The Organizer" /></td>
    <td align="right" valign="top" style="padding-right:30px"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="34" align="right" valign="top">
		
		<table border="0" cellspacing="0" cellpadding="0" style="margin-right:10px">
          <tr>
            <td width="5" height="34" align="left" valign="top"><img src="images/user-panel-left.gif" width="5" height="35" alt="" title="" /></td>
            <td class="user-panel-background"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="22" align="left" valign="middle" class="welcome-user">Welcome Sambit</td>
                <td width="34" align="center" valign="middle"><a href="#"><img src="images/user-icon.gif" border="0" width="14" height="16" alt="User Profile" title="User Profile" /></a></td>
                <td width="1"><img src="images/icon-divider.gif" width="1" height="22" alt="" title="" /></td>
                <td width="34" align="center" valign="middle"><a href="#"><img src="images/user-icon2.gif" border="0" width="14" height="14" alt="Settings" title="Settings" /></a></td>
                <td width="1"><img src="images/icon-divider.gif" width="1" height="22" alt="" title="" /></td>
                <td width="34" align="center" valign="middle"><a href="#"><img src="images/user-icon3.gif" border="0" width="12" height="14" alt="Logout" title="Logout" /></a></td>
              </tr>
            </table></td>
            <td width="6" align="left" valign="top"><img src="images/user-panel-right.gif" width="6" height="35" alt="" title="" /></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="53">&nbsp;</td>
      </tr>
      <tr>
        <td height="34" align="right" valign="bottom">
		<div id="tabs" align="right">
          <ul style="float:right; padding:0px">
            <!-- CSS Tabs -->
            <li id="current"><a href="#"><span title="Projects">Projects</span></a></li>
            <li><a href="#"><span title="Notification">Notification</span></a></li>
            <li><a href="#"><span title="Project Status">Project Status</span></a></li>
            <li><a href="#"><span title="Dashboard">Dashboard</span></a></li>
			
          </ul>
        </div></td>
      </tr>
    </table></td>
  </tr>
</table></td>
        </tr>
        <tr> 
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                    <td width="386" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="6" height="6" align="left" valign="top"><img src="images/left-top-corner.gif" width="6" height="6" alt="" title="" /></td>
                        <td height="4" align="left" valign="top" class="main-top-border border-right"><img src="images/blank.gif" alt="" width="" height="4" title="" /></td>
                      </tr>
                    </table></td>
                    
                    <td valign="top"><table width="100%" border="0" align="right" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="611" height="4" align="left" valign="top" class="main-top-border"><img src="images/blank.gif"  width="" height="4" alt="" title="" /></td>
                        <td width="6" height="6" align="right" valign="top"><img src="images/right-top-corner.gif" width="6" height="6" alt="" title=""/></td>
                      </tr>
                    </table></td>
                  </tr>
				  
				  
                  <tr>
                    <td height="546" align="left" valign="top" class="main-side-border border-right"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                      <tr>
                        <td height="37" align="left" valign="top" class="hor-divider"><h2>Projects</h2></td>
                      </tr>
                      <tr>
                        <td height="16"></td>
                      </tr>
                      <tr>
                        <td align="left" valign="top"><table width="100%" border="0" cellspacing="5" cellpadding="0">
                          <tr>
                            <td width="177" align="left" valign="top"><a href="#"><img src="images/createNew.gif" width="177" height="26" border="0" alt="Create new project" title="Create new project" /></a></td>
                            <td width="66" align="left" valign="top"><a href="#"><img src="images/edit.gif" width="66" height="26" border="0" alt="Edit" title="Edit" /></a></td>
                            <td align="left" valign="top"><a href="#"><img src="images/delete.gif" width="79" height="26" border="0" alt="Delete" title="Delete" /></a></td>
                          </tr>
                        </table></td>
                      </tr>
                      <tr>
                        <td height="30">&nbsp;</td>
                      </tr>
                      <tr>
                        <td align="left" valign="top" class="blueHeader">All Projects </td>
                      </tr>
                      <tr>
                        <td height="16"></td>
                      </tr>
                      <tr>
                        <td align="center"><table width="98%" border="0" cellspacing="3" cellpadding="0">
                          <tr>
                            <td width="8%" align="left" valign="middle">
                              <input name="checkbox" type="checkbox" class="no-border" title="Click to check" value="checkbox" checked="checked" /></td>
                            <td width="72%" height="33" align="left" class="body-text">Ideal Web Development</td>
                            <td width="20%" align="left" valign="middle"><img src="images/redStar.gif" width="9" height="9" alt="" title="" /> <img src="images/redStar.gif" width="9" height="9" alt="" title="" /> <img src="images/redStar.gif" width="9" height="9" alt="" title="" /> <img src="images/redStar.gif" width="9" height="9" alt="" title="" /> <img src="images/redStar.gif" width="9" height="9" alt="" title="" /></td>
                          </tr>
						  <tr>
						  <td bgcolor="#E5E5E3" colspan="3"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
						  </tr>
                          <tr>
                            <td align="left" valign="middle"><input type="checkbox" name="checkbox2" value="checkbox" class="no-border" title="Click to check" /></td>
                            <td height="33" align="left" class="body-text">Birla Museum Management Portal</td>
                            <td align="left" valign="middle"><img src="images/greyStar.gif" width="9" height="9" alt="" title="" /> <img src="images/greyStar.gif" width="9" height="9" alt="" title="" /> <img src="images/greyStar.gif" width="9" height="9" alt="" title="" /> <img src="images/greyStar.gif" width="9" height="9" alt="" title="" /> <img src="images/greyStar.gif" width="9" height="9" alt="" title=""/></td>
                          </tr>
						  
						  <tr>
						  <td bgcolor="#E5E5E3" colspan="3"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
						  </tr>
						  
                          <tr>
                            <td align="left" valign="middle"><input type="checkbox" name="checkbox22" value="checkbox" class="no-border"title="Click to check" alt="Click to check" /></td>
                            <td height="33" align="left" valign="middle" class="body-text">Parking Management System</td>
                            <td align="left" valign="middle"><img src="images/redStar.gif" width="9" height="9" alt="" title="" /> <img src="images/redStar.gif" width="9" height="9" alt="" title="" /> <img src="images/greyStar.gif" width="9" height="9" alt="" title="" /> <img src="images/greyStar.gif" width="9" height="9" alt="" title="" /> <img src="images/greyStar.gif" width="9" height="9" alt="" title="" /></td>
                          </tr>
						  
						  <tr>
						  <td bgcolor="#E5E5E3" colspan="3"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
						  </tr>
						  
                          <tr>
                            <td align="left" valign="middle"><input type="checkbox" name="checkbox222" value="checkbox" class="no-border" title="Click to check" alt="Click to check" /></td>
                            <td height="33" align="left" valign="middle" class="body-text">Wellman Wacoma AV Presentation</td>
                            <td align="left" valign="middle"><img src="images/redStar.gif" width="9" height="9" alt="" title="" /> <img src="images/greyStar.gif" width="9" height="9" alt="" title="" /> <img src="images/greyStar.gif" width="9" height="9" alt="" title="" /> <img src="images/greyStar.gif" width="9" height="9" alt="" title="" /> <img src="images/greyStar.gif" width="9" height="9" alt="" title=""/></td>
                          </tr>
						  
						  <tr>
						  <td bgcolor="#E5E5E3" colspan="3"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
						  </tr>
						  
                          <tr>
                            <td align="left" valign="middle"><input type="checkbox" name="checkbox2222" value="checkbox" class="no-border" title="Click to check" alt="Click to check" /></td>
                            <td height="33" align="left" valign="middle" class="body-text">Integrated Loss Mitigation System</td>
                            <td align="left" valign="middle"><img src="images/redStar.gif" width="9" height="9" alt="" title="" /> <img src="images/redStar.gif" width="9" height="9" alt="" title="" /> <img src="images/redStar.gif" width="9" height="9" alt="" title="" /> <img src="images/redStar.gif" width="9" height="9" alt="" title="" /> <img src="images/redStar.gif" width="9" height="9" alt="" title="" /></td>
                          </tr>
						  
						  <tr>
						  <td bgcolor="#E5E5E3" colspan="3"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
						  </tr>
						  
						  
                          <tr>
                            <td align="left" valign="middle"><input type="checkbox" name="checkbox22222" value="checkbox" class="no-border" title="Click to check" alt="Click to check" /></td>
                            <td height="33" align="left" valign="middle" class="body-text">Appraisal Management System</td>
                            <td align="left" valign="middle"><img src="images/redStar.gif" width="9" height="9" alt="" title="" /> <img src="images/redStar.gif" width="9" height="9" alt="" title="" /> <img src="images/greyStar.gif" width="9" height="9" alt="" title="" /> <img src="images/greyStar.gif" width="9" height="9" alt="" title="" /> <img src="images/greyStar.gif" width="9" height="9" alt="" title="" /></td>
                          </tr>
						  
						  
						  <tr>
						  <td bgcolor="#E5E5E3" colspan="3"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
						  </tr>
						  
						  
                        </table></td>
                      </tr>
                      <tr>
                        <td>&nbsp;</td>
                      </tr>
                    </table></td>
                    
                    <td align="left" valign="top" class="main-side-border-right"><table width="99%" border="0" align="left" cellpadding="0" cellspacing="3" class="mainTableMargin">
                      <tr>
                        <td colspan="4" align="left" valign="top" class="pageHeader">Project Details </td>
                      </tr>
                      <tr>
                        <td height="28" colspan="4" align="left" valign="top"></td>
                      </tr>
                      <tr>
                        <td width="25%" height="30" align="left" valign="top" class="body-text">Project Name: </td>
                        <td colspan="3" align="left" valign="top" class="body-text-blue">Ideal Web Development</td>
                      </tr>
                      <tr>
                        <td bgcolor="#E5E5E3" colspan="4"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
                      </tr>
                      <tr>
                        <td height="39" align="left" valign="middle" class="body-text">Priority:</td>
                        <td width="30%" align="left" valign="middle" class="body-text-blue"><img src="images/redStar.gif" width="9" height="9" alt="" title="" /> <img src="images/redStar.gif" width="9" height="9" alt="" title="" /> <img src="images/redStar.gif" width="9" height="9" alt="" title="" /> <img src="images/redStar.gif" width="9" height="9" alt="" title="" /> <img src="images/redStar.gif" width="9" height="9" alt="" title="" /></td>
                        <td width="20%" align="left" valign="middle" class="body-text">Status:</td>
                        <td align="left" valign="middle" class="body-text-blue">Open</td>
                      </tr>
                      <tr>
                        <td bgcolor="#E5E5E3" colspan="4"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
                      </tr>
                      <tr>
                        <td height="39" align="left" valign="middle" class="body-text">Start Date:</td>
                        <td align="left" valign="middle" class="body-text-blue">06-Jun-2008</td>
                        <td align="left" valign="middle" class="body-text">Deadline:</td>
                        <td align="left" valign="middle" class="body-text-blue">17-Jun-2008</td>
                      </tr>
                      <tr>
                        <td bgcolor="#E5E5E3" colspan="4"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
                      </tr>
                      <tr>
                        <td height="39" align="left" valign="middle" class="body-text">Estimated Hour:</td>
                        <td align="left" valign="middle" class="body-text-blue">140 </td>
                        <td align="left" valign="middle" class="body-text">Actual Hour:</td>
                        <td align="left" valign="middle" class="body-text-blue">68</td>
                      </tr>
                      <tr>
                        <td bgcolor="#E5E5E3" colspan="4"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
                      </tr>
                      <tr>
                        <td height="39" align="left" valign="middle" class="body-text">Work in Progress:</td>
                        <td colspan="3" align="left" valign="middle">
						
						
							<div class="progressBar">
								<div class="progressBarInside">
								<img src="images/progressBarInside.gif" style="margin-top:3px; margin-left:3px; margin-right:3px; z-index:2;" width="43%" height="10px" alt="Work in progress" title="Work in progress"/><span>43%</span></div>
							</div>	
						
						</td>
                        </tr>
                      <tr>
                        <td bgcolor="#E5E5E3" colspan="4"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
                      </tr>
                      <tr>
                        <td height="39" align="left" valign="middle" class="body-text">Platform:</td>
                        <td align="left" valign="middle" class="body-text-blue">Java, HTML</td>
                        <td align="left" valign="top" class="body-text">&nbsp;</td>
                        <td align="left" valign="top" class="body-text-blue">&nbsp;</td>
                      </tr>
                      <tr>
                        <td bgcolor="#E5E5E3" colspan="4"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
                      </tr>
                      <tr>
                        <td height="39" align="left" valign="middle" class="body-text">Application Server:</td>
                        <td align="left" valign="middle" class="body-text-blue">Apache</td>
                        <td align="left" valign="top" class="body-text">&nbsp;</td>
                        <td align="left" valign="top" class="body-text-blue">&nbsp;</td>
                      </tr>
                      <tr>
                        <td bgcolor="#E5E5E3" colspan="4"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
                      </tr>
                      <tr>
                        <td height="39" align="left" valign="middle" class="body-text">Database:</td>
                        <td align="left" valign="middle" class="body-text-blue">MySQL</td>
                        <td align="left" valign="top" class="body-text">&nbsp;</td>
                        <td align="left" valign="top" class="body-text-blue">&nbsp;</td>
                      </tr>
                      <tr>
                        <td bgcolor="#E5E5E3" colspan="4"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
                      </tr>
                      <tr>
                        <td height="39" align="left" valign="middle" class="body-text">Client:</td>
                        <td align="left" valign="middle" class="redLink"><a href="#" class="redLink" title="Click here for client details">Arindam Roy</a>  <a href="#"><img src="images/iconClient.gif" width="27" height="15" hspace="5" alt="Click here for client details" title="Click here for client details" border="0"/></a></td>
                        <td align="left" valign="top" class="body-text">&nbsp;</td>
                        <td align="left" valign="top" class="body-text-blue">&nbsp;</td>
                      </tr>
                      <tr>
                        <td bgcolor="#E5E5E3" colspan="4"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
                      </tr>
                      <tr>
                        <td height="39" align="left" valign="middle" class="body-text">Project Manager:</td>
                        <td align="left" valign="middle" class="body-text-blue">Arun Paul</td>
                        <td colspan="2" align="left" valign="middle"></td>
                      </tr>
                      <tr>
                        <td bgcolor="#E5E5E3" colspan="4"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
                      </tr>
                      <tr>
                        <td height="39" align="left" valign="middle" class="body-text">Project Team:</td>
                        <td align="left" valign="middle" class="body-text-blue">Sambit, Avradip, Suvendu, Ghanshyam</td>
                        <td align="left" valign="top" class="body-text">&nbsp;</td>
                        <td align="left" valign="top" class="body-text-blue">&nbsp;</td>
                      </tr>
                      <tr>
                        <td bgcolor="#E5E5E3" colspan="4"><img src="images/blank.gif" alt="" width="" height="1" title="" /></td>
                      </tr>
                      <tr>
                        <td height="39" align="left" valign="middle" class="body-text">View Shared Files:</td>
                        <td align="left" valign="middle" class="body-text-blue">&nbsp;</td>
                        <td align="left" valign="top" class="body-text">&nbsp;</td>
                        <td align="left" valign="top" class="body-text-blue">&nbsp;</td>
                      </tr>
                    </table></td>
                  </tr>
				  
				  
                  <tr>
                    <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="6"><img src="images/left-bottom-corner.gif" width="6" height="6" alt="" title="" /></td>
                        <td height="4" align="left" valign="bottom" class="main-bottom-border border-right"><img src="images/blank.gif" alt="" width="" height="4" title="" /></td>
                      </tr>
                    </table></td>
                   
                    <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="611" class="main-bottom-border"><img src="images/blank.gif" alt="" width="" height="4" title="" /></td>
                        <td width="6" align="right" valign="top"><img src="images/right-bottom-corner.gif" width="6" height="6" alt="" title="" /></td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
              </tr>
              
            </table></td>
        </tr>
        <tr> 
          <td height="40" align="right" valign="middle" class="copyright">&copy; 2007-08 Axsys Technologies Limited. All rights reserved.</td>
        </tr>
		
		
      </table></td>
  </tr>
</table>
</form>

</body>
</html>
